<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="ASPNETConnectionString" connectionString="Data Source=W00001N00\MSDMUT05;Initial Catalog=HM;User ID=DMAHMUserDEV;Password=scG_8&amp;m;Persist Security Info=True;" providerName="System.Data.SqlClient" />
    <add name="AdminContext" connectionString="metadata=res://*/AdminModel.csdl|res://*/AdminModel.ssdl|res://*/AdminModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=W00001N00\MSDMUT05;initial catalog=HM;persist security info=True;user id=DMAHMUserDEV;password=scG_8&amp;m;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="OperationsSecureContext" connectionString="metadata=res://*/OperationsSecureModel.csdl|res://*/OperationsSecureModel.ssdl|res://*/OperationsSecureModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=W00001N00\MSDMUT05;initial catalog=HM_WIRES;persist security info=True;user id=HMWIRESDEV;password=5$#2wires@1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="Environment" value="TEST"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
</configuration>
