<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <sectionGroup name="jnbridge">
      <!-- comment out the following sections if using .NET 4.0, uncomment if using .NET 2.0 -->
      <!--<section name="dotNetToJavaConfig"
               type="System.Configuration.SingleTagSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      <section name="javaToDotNetConfig"
               type="System.Configuration.SingleTagSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      <section name="tcpNoDelay"
               type="System.Configuration.SingleTagSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      <section name="javaSideDeclarations"
               type="System.Configuration.NameValueSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>-->
      <!-- comment out the following sections if using .NET 2.0, uncomment if using .NET 4.0 -->

      <section name="dotNetToJavaConfig" type="System.Configuration.SingleTagSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <section name="javaToDotNetConfig" type="System.Configuration.SingleTagSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <section name="tcpNoDelay" type="System.Configuration.SingleTagSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <section name="javaSideDeclarations" type="System.Configuration.NameValueSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      
    </sectionGroup>
  </configSections>
  <jnbridge>
    <!-- Comment out the following element to use shared memory -->
    <dotNetToJavaConfig scheme="jtcp" host="localhost" port="8085" />
    <!-- Uncomment the following element to use shared memory.  Adjust the paths below to be correct on your machine -->
    <!--<dotNetToJavaConfig scheme="sharedmem"
                        jvm="C:\Program Files\Java\jdk-11.0.2\bin\server\jvm.dll"
                        jvm32="C:\Program Files\Java\jdk-11.0.2\bin\server\jvm.dll"
                        jvm64="C:\Program Files\Java\jdk-11.0.2\bin\server\jvm.dll"
                        jnbcore="C:\Program Files (x86)\JNBridge\JNBridgePro v9.0\jnbcore\jnbcore.jar"
                        bcel="C:\Program Files (x86)\JNBridge\JNBridgePro v9.0\jnbcore\bcel-5.1-jnbridge.jar"
                        classpath="C:\Program Files\Java\jdk-11.0.2\lib;C:\HM-Projects\HedgeMark.Operations.Secure\HedgeMark.Operations.Secure.Web\ExternalLibraries\pw-swift-core-SRU2018-7.10.3;C:\HM-Projects\HedgeMark.Operations.Secure\HedgeMark.Operations.Secure.Web\ExternalLibraries\pw-swift-core-SRU2018-7.10.3\lib;"/>-->

  </jnbridge>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="ASPNETConnectionString" connectionString="Data Source=W00001N00\MSDMUT05;Initial Catalog=HM;User ID=DMAHMUserDEV;Password=scG_8&amp;m;Persist Security Info=True;" providerName="System.Data.SqlClient" />
    <add name="AdminContext" connectionString="metadata=res://*/Models.AdminModel.csdl|res://*/Models.AdminModel.ssdl|res://*/Models.AdminModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=W00001N00\MSDMUT05;initial catalog=HM;persist security info=True;user id=DMAHMUserDEV;password=scG_8&amp;m;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="OperationsSecureContext" connectionString="metadata=res://*/OperationsSecureModel.csdl|res://*/OperationsSecureModel.ssdl|res://*/OperationsSecureModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=W00001N00\MSDMUT05;initial catalog=HM_WIRES;persist security info=True;user id=HMWIRESDEV;password=5$#2wires@1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="IKVM.Runtime" publicKeyToken="13235d27fcbfff58" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.1.5717.0" newVersion="8.1.5717.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.Core" publicKeyToken="13235d27fcbfff58" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.1.5717.0" newVersion="8.1.5717.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.Beans" publicKeyToken="13235d27fcbfff58" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.1.5717.0" newVersion="8.1.5717.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.Text" publicKeyToken="13235d27fcbfff58" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.1.5717.0" newVersion="8.1.5717.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.Util" publicKeyToken="13235d27fcbfff58" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.1.5717.0" newVersion="8.1.5717.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.Security" publicKeyToken="13235d27fcbfff58" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.1.5717.0" newVersion="8.1.5717.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.SwingAWT" publicKeyToken="13235d27fcbfff58" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.1.5717.0" newVersion="8.1.5717.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.XML.API" publicKeyToken="13235d27fcbfff58" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.1.5717.0" newVersion="8.1.5717.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.Media" publicKeyToken="13235d27fcbfff58" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.1.5717.0" newVersion="8.1.5717.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.Jdbc" publicKeyToken="13235d27fcbfff58" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.1.5717.0" newVersion="8.1.5717.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.XML.Bind" publicKeyToken="13235d27fcbfff58" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.1.5717.0" newVersion="8.1.5717.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" /></startup></configuration>
