@using HMOSecureWeb.Utility
@{
    ViewBag.Title = "OnBoarding - Account";
}

<style>
    .input-group[class*="col-"] {
        float: none;
        padding-right: 0;
        padding-left: 15px;
    }

    /*.select2-container {
        width: 258px !important;
    }*/

    .AdjustDropDownWidth .select2-container {
        width: 100% !important;
    }
</style>

<legend>Accounts List</legend>

<div id="accountListDiv" class="container-fluid" ng-controller="AccountListController">
    <ul id="accountTabs" class="nav nav-tabs" data-tabs="tabs">
        <li class="active"><a id="create" href="#dvList" data-toggle="tab">List</a></li>
        <li><a href="#dvAssociation" data-toggle="tab">Associated SSI</a></li>
    </ul>
    <div class="tab-content">
        <div id="dvList" class="tab-pane fade in active">
            <form name="accountForm">
                <input type="hidden" id="userName" value=@User.Identity.Name />
                <div class="well well-sm sticky-header" style="min-height: 50px;">
                    @if (User.IsWireUser())
                    {
                        <button ng-click="fnCreateAccount()" class="btn btn-info btn-sm"><i class="glyphicon glyphicon-plus"></i>&nbsp; Add Account</button>
                        <div class="pull-right btn-group" style="padding-right: 2px;">
                            <button id="btnUploadSource" class="btn btn-default btn-sm editableTool dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-upload"></i>&nbsp;Bulk Upload <b class="caret"></b></button>
                            <ul class="dropdown-menu dropdown-menu-right" id="ulBulkUpload">
                                <li><a href="#" ng-click="downloadAccountSample()" id="sampleExportHeaders">Download Sample</a></li>
                                <li><a href="#" data-toggle="collapse" data-target="#divUploadSource" aria-expanded="false" aria-controls="divUploadSource">Upload</a></li>
                            </ul>
                        </div>

                        <div class="pull-right btn-group" id="btnAccountStatusButtons" style="display: none;">
                            &nbsp;&nbsp;<button id="requestForApproval" title="Request for Approval" class="btn btn-warning btn-sm disabled" ng-click="fnUpdateAccountStatus('Pending Approval','Request for Approval')"><i class="glyphicon glyphicon-share-alt"></i>&nbsp;Request for Approval</button>
                            @if (User.IsWireApprover())
                            {
                                <button id="approve" title="Approve" class="btn btn-success btn-sm disabled" ng-click="fnUpdateAccountStatus('Approved','Approve')"><i class="glyphicon glyphicon-ok"></i> Approve</button>
                            }

                            <button id="revert" title="Revert" class="btn btn-info btn-sm disabled" ng-click="fnUpdateAccountStatus('Created','Revert')"><i class="glyphicon glyphicon-repeat icon-flipped"></i> Revert</button>
                        </div>
                    }
                    <div class="pull-right btn-group">
                        &nbsp;&nbsp; <button class=" btn btn-primary btn-sm" id="btnEdit" disabled ng-click="fnEditAccount()">
                            <i class="glyphicon glyphicon-edit"></i>&nbsp;Edit
                        </button>
                        @if (User.IsWireApprover())
                        {
                            <button class="btn btn-danger btn-sm" id="btnDel" disabled ng-click="fnDeleteAccount()"><i class="glyphicon glyphicon-trash"></i>&nbsp;Delete </button>
                        }
                    </div>
                    <div class="pull-right btn-group" style="padding-right: 2px;">
                        &nbsp;&nbsp;<a class="btn btn-sm btn-default" ng-click="$event.stopPropagation();fnExportAllAccountlist()"><i class="glyphicon glyphicon-download-alt"></i>&nbsp;Export</a>
                    </div>
                    @if (User.IsWireUser())
                    {

                    }
                </div>
                <div class=" collapse row" id="divUploadSource">
                    @*<div class="col-sm-12 col-md-12 col-lg-12" style="margin-bottom: 20px">
                            <a href="/Account/ExportSampleAccountlist" class="btn btn-sm btn-default pull-right" id="sampleExportHeaders">Download Sample</a>
                        </div>
                        <br />*@
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div id="dropZoneDiv">
                            @* ReSharper disable once Html.TagNotResolved *@
                            <ng-form class="dropzone" enctype="multipart/form-data" id="uploadFiles" method="post" novalidate />
                        </div>
                    </div>
                </div>
                <div id="loading" style="display: none; text-align: center;">
                    @*<img id="loading-image" src="/img/Onboarding-loading.gif" alt="Loading..." />*@
                </div>
                <table id="accountTable" class="table table-condensed table-bordered table-striped table-hover table-highlighted"><tfoot></tfoot></table>

                <div class="modal fade" id="accountModal" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog modal-mlg3" role="document">
                        <div id="accountDetailCP" class="modal-content" ng-repeat="accountDetail in onBoardingAccountDetails track by $index" on-last-repeat>
                            <div class="row" style="position: sticky; top: 0; z-index: 2;">
                                <span class="col-md-12" style="margin-bottom: 10px;">
                                    <p class="panel panel-heading" style="margin-bottom: 10px; background: #F5F5F5; border-bottom: 1px solid lightgray; margin: 0px">
                                        @*<i class="glyphicon glyphicon-usd"></i>*@
                                        <span style="font-size: 15px; font-weight: bold">{{accountDetail.AccountName}}  </span>
                                        | Broker:<span style="font-size: 15px; font-weight: bold"> {{broker}}  </span>
                                        <span id="hmStatus" style="display: none;">| Status: <b><span id="spnAgrCurrentStatus" class=""></span></b></span>
                                    </p>
                                </span>
                                <span class="pull-right" style="padding: 5px; position: absolute; margin: 5px 0px 0px -50px">
                                    <button title="close this log" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                </span>
                            </div>

                            <div class="modal-body" style="padding-bottom: 0; padding-top: 10px;">
                                <div class="panel-body">
                                    <input type="hidden" ng-model="accountDetail.onBoardingAccountId" />
                                    <p></p>
                                    <div class="row control-group" style="margin-left: 15px; margin-right: 10px;">
                                        <legend class="small font-primary">Account Description:</legend>
                                    </div>
                                    <p></p>
                                    <div class="row">
                                        <div class="col-sm-12 col-md-9 col-lg-6 paddingleft">
                                            <div class="col-sm-8 col-md-4 col-lg-4">
                                                <label class="control-label">Account Name </label>
                                            </div>
                                            <div class="col-sm-8 col-md-5 col-lg-5">
                                                <input type="text" class="form-control" ng-model="accountDetail.AccountName" />
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-md-9 col-lg-6 paddingleft">
                                            <div class="col-sm-8 col-md-4 col-lg-4">
                                                <label class="control-label">Currency </label>
                                            </div>
                                            <div class="col-sm-8 col-md-5 col-lg-5 AdjustDropDownWidth">
                                                <input type="text" class="form-control" ng-model="accountDetail.Currency" id="liCurrency{{$index}}" ng-change="fnCutOffTime(accountDetail.Currency,accountDetail.CashInstruction, $index)" />
                                            </div>
                                            <div class="col-sm-8 col-md-3 col-lg-3">
                                                <a class="btn btn-sm btn-info" ng-click="fnAddCurrencyModal($index)" title="Add Currency"><i class="glyphicon glyphicon-plus"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <p></p>
                                    <div class="row">
                                        <div class="col-sm-12 col-md-9 col-lg-6 paddingleft">
                                            <div class="col-sm-8 col-md-4 col-lg-4">
                                                <label class="control-label">Account Type</label>
                                            </div>
                                            <div class="col-sm-8 col-md-5 col-lg-5 AdjustDropDownWidth">
                                                <input type="text" class="form-control" ng-model="accountDetail.AccountPurpose" id="liAccountPurpose{{$index}}" />
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-md-9 col-lg-6 paddingleft">
                                            <div class="col-sm-8 col-md-4 col-lg-4">
                                                <label class="control-label">Account Status</label>
                                            </div>
                                            <div class="col-sm-8 col-md-5 col-lg-5 AdjustDropDownWidth">
                                                <input type="text" class="form-control" ng-model="accountDetail.AccountStatus" id="liAccountStatus{{$index}}" />
                                            </div>
                                        </div>
                                    </div>
                                    <p></p>
                                    <div class="row">
                                        <div class="col-sm-12 col-md-9 col-lg-6 paddingleft">
                                            <div class="col-sm-8 col-md-4 col-lg-4">
                                                <label class="control-label">Description </label>
                                            </div>
                                            <div class="col-sm-8 col-md-5 col-lg-5 AdjustDropDownWidth">
                                                <input ng-model="accountDetail.Description" class="form-control control-label" id="liAccountDescriptions{{$index}}">
                                            </div>
                                            <div class="col-sm-8 col-md-3 col-lg-3">
                                                <a id="btnAccountDescription" class="btn btn-sm btn-info" ng-click="fnAddAccountDescriptionModal($index)" title="Add Description"><i class="glyphicon glyphicon-plus"></i></a>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-md-9 col-lg-6 paddingleft">
                                            <div class="col-sm-8 col-md-4 col-lg-4">
                                                <label class="control-label">Notes </label>
                                            </div>
                                            <div class="col-sm-8 col-md-5 col-lg-5 AdjustDropDownWidth">
                                                <textarea cols="10" rows="3" ng-model="accountDetail.Notes" class="form-control control-label" placeholder="Notes"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <p></p>
                                    <div class="row">
                                        <div class="col-sm-12 col-md-9 col-lg-6 paddingleft">
                                            <div class="col-sm-8 col-md-4 col-lg-4">
                                                <label class="control-label">Account Number </label>
                                            </div>
                                            <div class="col-sm-8 col-md-5 col-lg-5">
                                                <input ng-model="accountDetail.ContactNumber" class="form-control control-label">
                                            </div>
                                        </div>
                                    </div>
                                    <p></p>
                                    <div class="row">
                                        <div class="col-sm-12 col-md-9 col-lg-6 paddingleft">
                                            <div class="col-sm-8 col-md-4 col-lg-4">
                                                <label class="control-label">Swift Group <span style="color: red">  *</span></label>
                                            </div>
                                            <div class="col-sm-8 col-md-5 col-lg-5 AdjustDropDownWidth">
                                                <input type="text" class="form-control" ng-model="accountDetail.SwiftGroup" id="liSwiftGroup{{$index}}" ng-change="fnOnSwiftGroupChange(accountDetail.SwiftGroup, $index)" required />
                                            </div>
                                            <div class="col-sm-8 col-md-3 col-lg-3">
                                                <a class="btn btn-sm btn-info" ng-click="fnAddSwiftGroupModal($index)" title="Add Swift Group"><i class="glyphicon glyphicon-plus"></i></a>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-md-9 col-lg-6 paddingleft">
                                            <div class="col-sm-8 col-md-4 col-lg-4">
                                                <label class="control-label">Senders BIC</label>
                                            </div>
                                            <div class="col-sm-8 col-md-5 col-lg-5">
                                                <input type="text" class="form-control" ng-model="accountDetail.SendersBIC" id="txtSender{{$index}}" disabled />
                                            </div>
                                        </div>
                                    </div>
                                    <p></p>
                                    <div class="row">
                                        <div class="col-sm-12 col-md-9 col-lg-6 paddingleft">
                                            <div class="col-sm-8 col-md-4 col-lg-4">
                                                <label class="control-label">Authorized Party</label>
                                            </div>
                                            <div class="col-sm-8 col-md-5 col-lg-5 AdjustDropDownWidth">
                                                <input ng-model="accountDetail.AuthorizedParty" class="form-control control-label" id="liAuthorizedParty{{$index}}">
                                            </div>
                                            <div class="col-sm-8 col-md-3 col-lg-3">
                                                <a class="btn btn-sm btn-info" ng-click="fnAddAuthorizedPartyModal($index)" title="Add Authorized Party"><i class="glyphicon glyphicon-plus"></i></a>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-md-9 col-lg-6 paddingleft">
                                            <div class="col-sm-8 col-md-4 col-lg-4">
                                                <label class="control-label">Cash Instruction Mechanism</label>
                                            </div>
                                            <div class="col-sm-8 col-md-5 col-lg-5 AdjustDropDownWidth">
                                                <input type="text" class="form-control" ng-model="accountDetail.CashInstruction" id="liCashInstruction{{$index}}" ng-change="fnCutOffTime(accountDetail.Currency,accountDetail.CashInstruction, $index)" />
                                            </div>
                                            <div class="col-sm-8 col-md-3 col-lg-3">
                                                <a class="btn btn-sm btn-info" ng-click="fnAddCashInstructionModal($index)" title="Add Cash Instruction"><i class="glyphicon glyphicon-plus"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <p></p>
                                    <div class="row">
                                        <div class="col-sm-12 col-md-9 col-lg-6 paddingleft">
                                            <div class="col-sm-8 col-md-4 col-lg-4">
                                                <label class="control-label">Cash Sweep</label>
                                            </div>
                                            <div class="col-sm-8 col-md-5 col-lg-5 AdjustDropDownWidth">
                                                <input ng-model="accountDetail.CashSweep" class="form-control control-label" id="cashSweep{{$index}}" ng-change="fnCashSweep(accountDetail.CashSweep, $index)">
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-md-9 col-lg-6 paddingleft">
                                            <div class="col-sm-8 col-md-4 col-lg-4">
                                                <label class="control-label">Wire Portal Cutoff</label>
                                            </div>
                                            <div class="col-sm-8 col-md-6 col-lg-7">
                                                <div class="col-sm-8 col-md-6 col-lg-6" style="padding-left: 0;">
                                                    <input type="time" name="cutOffTime" ng-model="accountDetail.CutoffTime" class="form-control" id="cutOffTime{{$index}}" disabled style="padding: 5px;" />
                                                </div>
                                                <div class="col-sm-8 col-md-4 col-lg-4 AdjustDropDownWidth" style="margin-top: 5px; padding-left: 0;">
                                                    <label class="label label-success" id="wireDays{{$index}}" style="font-size: 12px; padding: 5px;">{{accountDetail.DaystoWire}} {{accountDetail.DaystoWire > 1 ? "Days" : "Day"}}</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <p></p>
                                    <div class="cashSweepTimeDiv cashSweepTimeDiv{{$index}}">
                                        <div class="row control-group" style="margin-left: 15px; margin-right: 10px;">
                                            <legend class="small font-primary">Cash Sweep:</legend>
                                        </div>
                                        <p></p>
                                        <div class="row">
                                            <div class="col-sm-12 col-md-9 col-lg-6 paddingleft">
                                                <div class="col-sm-8 col-md-4 col-lg-4">
                                                    <label class="control-label">Cash Sweep Time</label>
                                                </div>
                                                <div class="col-sm-8 col-md-7 col-lg-7">
                                                    <div class="col-sm-8 col-md-5 col-lg-5" style="padding-left: 0;">
                                                        <input type="time" name="cashSweepTime" ng-model="accountDetail.CashSweepTime" class="form-control" id="cashSweepTime{{$index}}" ng-required="accountDetail.CashSweep == 'Yes'" style="padding: 2px;" />
                                                    </div>
                                                    <div class="col-sm-8 col-md-4 col-lg-4 AdjustDropDownWidth" style="padding-left: 0; padding-right: 20px;">
                                                        <input ng-model="accountDetail.CashSweepTimeZone" class="form-control control-label" id="cashSweepTimeZone{{$index}}" ng-required="accountDetail.CashSweep == 'Yes'">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-9 col-lg-6 paddingleft">
                                                <div class="col-sm-8 col-md-4 col-lg-4">
                                                    <label class="control-label">Holdback Amount</label>
                                                </div>
                                                <div class="col-sm-8 col-md-5 col-lg-5">
                                                    <input type="text" class="form-control txtHoldbackAmount" ng-model="accountDetail.HoldbackAmount" />
                                                </div>
                                            </div>
                                        </div>
                                        <p></p>
                                        <div class="row">
                                            <div class="col-sm-12 col-md-9 col-lg-6 paddingleft">
                                                <div class="col-sm-8 col-md-4 col-lg-4">
                                                    <label class="control-label">Ticker/ISIN</label>
                                                </div>
                                                <div class="col-sm-8 col-md-5 col-lg-5">
                                                    <input type="text" class="form-control" ng-model="accountDetail.TickerorISIN" />
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-9 col-lg-6 paddingleft">
                                                <div class="col-sm-8 col-md-4 col-lg-4">
                                                    <label class="control-label">Associated Custody Account</label>
                                                </div>
                                                <div class="col-sm-8 col-md-5 col-lg-5 AdjustDropDownWidth">
                                                    <input type="text" class="form-control" ng-model="accountDetail.AssociatedCustodyAcct" id="liCustodyAcct{{$index}}" />
                                                </div>
                                            </div>
                                        </div>
                                        <p></p>
                                        <div class="row">
                                            <div class="col-sm-12 col-md-9 col-lg-6 paddingleft">
                                                <div class="col-sm-8 col-md-4 col-lg-4">
                                                    <label class="control-label">Portfolio Selection</label>
                                                </div>
                                                <div class="col-sm-8 col-md-5 col-lg-5">
                                                    <input type="text" class="form-control" ng-model="accountDetail.PortfolioSelection" />
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-9 col-lg-6 paddingleft">
                                                <div class="col-sm-8 col-md-4 col-lg-4">
                                                    <label class="control-label"> Currency</label>
                                                </div>
                                                <div class="col-sm-8 col-md-5 col-lg-5 AdjustDropDownWidth">
                                                    <input type="text" class="form-control" id="liSweepCurrency{{$index}}" ng-model="accountDetail.SweepCurrency" />
                                                </div>
                                            </div>
                                        </div>
                                        <p></p>
                                        <div class="row">
                                            <div class="col-sm-12 col-md-9 col-lg-6 paddingleft">
                                                <div class="col-sm-8 col-md-4 col-lg-4">
                                                    <label class="control-label">Sweep comments</label>
                                                </div>
                                                <div class="col-sm-8 col-md-5 col-lg-5">
                                                    <textarea cols="10" rows="3" ng-model="accountDetail.SweepComments" class="form-control control-label" placeholder="Sweep Comments"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <p></p>
                                    <div class="row control-group" style="margin-left: 15px; margin-right: 10px;">
                                        <legend class="small font-primary">Additional Details:</legend>
                                    </div>
                                    <p></p>
                                    <div class="row">
                                        <div class="col-sm-12 col-md-9 col-lg-6 paddingleft">
                                            <div class="col-sm-8 col-md-4 col-lg-4">
                                                <label class="control-label">FFC Name</label>
                                            </div>
                                            <div class="col-sm-8 col-md-5 col-lg-5">
                                                <input type="text" ng-model="accountDetail.FFCName" class="form-control control-label" placeholder="FFC Name" />
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-md-9 col-lg-6 paddingleft">
                                            <div class="col-sm-8 col-md-4 col-lg-4">
                                                <label class="control-label">FFC Number </label>
                                            </div>
                                            <div class="col-sm-8 col-md-5 col-lg-5">
                                                <input type="text" ng-model="accountDetail.FFCNumber" class="form-control control-label" placeholder="FFC Number" />
                                            </div>
                                        </div>
                                    </div>
                                    <p></p>
                                    <div class="row">
                                        <div class="col-sm-12 col-md-9 col-lg-6 paddingleft">
                                            <div class="col-sm-8 col-md-4 col-lg-4">
                                                <label class="control-label">Reference </label>
                                            </div>
                                            <div class="col-sm-8 col-md-5 col-lg-5">
                                                <input type="text" ng-model="accountDetail.Reference" class="form-control control-label" placeholder="Reference" />
                                            </div>
                                        </div>
                                        @*<div class="col-sm-12 col-md-9 col-lg-6 paddingleft">
                                                <div class="col-sm-8 col-md-4 col-lg-4">
                                                    <label class="control-label">Status Comments</label>
                                                </div>
                                                <div class="col-sm-8 col-md-5 col-lg-5">
                                                    <textarea cols="10" rows="3" ng-model="accountDetail.StatusComments" class="form-control control-label" placeholder="Status Comments"></textarea>
                                                </div>
                                            </div>*@
                                    </div>
                                    <p></p>
                                    <div class="row">
                                        <div class="col-sm-6 col-md-3 col-lg-2 paddingleft">
                                        </div>
                                        <div class="col-sm-6 col-md-3 col-lg-3 paddingleft">
                                            <span class="row font-primary small">Intermediary</span>
                                        </div>
                                        <div class="col-sm-6 col-md-3 col-lg-3 paddingleft">
                                            <span class="row font-primary small">Beneficiary <span style="color: red">  *</span></span>
                                        </div>
                                        <div class="col-sm-6 col-md-3 col-lg-3 paddingleft">
                                            <span class="row font-primary small">Ultimate Beneficiary <span style="color: red">  *</span></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 col-md-3 col-lg-2 paddingleft">
                                            <label class="control-label" style="margin-left: 15px;">Account Number</label>
                                        </div>
                                        <div class="col-sm-6 col-md-3 col-lg-3 paddingleft">
                                            <input type="text" class="form-control" ng-model="accountDetail.IntermediaryAccountNumber" placeholder="Account Number" />
                                        </div>
                                        <div class="col-sm-6 col-md-3 col-lg-3 paddingleft">
                                            <input type="text" ng-model="accountDetail.BeneficiaryAccountNumber" class="form-control control-label" placeholder="Account Number" />
                                        </div>
                                        <div class="col-sm-6 col-md-3 col-lg-3 paddingleft">
                                            <input name="accountnumber" type="text" class="form-control" ng-model="accountDetail.AccountNumber" placeholder="Account Number" required />
                                        </div>
                                    </div>
                                    <p></p>
                                    <div class="row">
                                        <div class="col-sm-6 col-md-3 col-lg-2 paddingleft">
                                            <label for="liBeneficiaryType{{$index}}" class="control-label" style="margin-left: 15px;">Type:</label>
                                        </div>
                                        <div class="col-sm-6 col-md-3 col-lg-3 paddingleft AdjustDropDownWidth">
                                            <input type="text" class="form-control" ng-model="accountDetail.IntermediaryType" id="liIntermediaryType{{$index}}" ng-change="fnToggleBeneficiaryBICorABA(accountDetail.IntermediaryType,'Intermediary',$index)" />
                                        </div>
                                        <div class="col-sm-6 col-md-3 col-lg-3 paddingleft AdjustDropDownWidth">
                                            <input type="text" class="form-control" ng-model="accountDetail.BeneficiaryType" id="liBeneficiaryType{{$index}}" ng-change="fnToggleBeneficiaryBICorABA(accountDetail.BeneficiaryType,'Beneficiary',$index)" required />
                                        </div>
                                        <div class="col-sm-6 col-md-3 col-lg-3 paddingleft AdjustDropDownWidth">
                                            <input type="text" class="form-control" ng-model="accountDetail.UltimateBeneficiaryType" id="liUltimateBeneficiaryType{{$index}}" ng-change="fnToggleBeneficiaryBICorABA(accountDetail.UltimateBeneficiaryType,'UltimateBeneficiary',$index)" />
                                        </div>
                                    </div>
                                    <p></p>
                                    <div class="row">
                                        <div class="col-sm-6 col-md-3 col-lg-2 paddingleft">
                                            <label class="control-label" style="margin-left: 15px;">ABA/BIC</label>
                                            <a class="btn btn-sm btn-info" ng-click="fnAddBeneficiaryModal($index)" title="Add Beneficiary"><i class="glyphicon glyphicon-plus"></i></a>
                                        </div>
                                        <div class="col-sm-6 col-md-3 col-lg-3 paddingleft AdjustDropDownWidth">
                                            <input type="text" ng-model="accountDetail.IntermediaryBICorABA" class="form-control control-label" id="liIntermediaryBICorABA{{$index}}" ng-change="fnGetBankDetails(accountDetail.IntermediaryBICorABA,'Intermediary',$index)" />
                                        </div>
                                        <div class="col-sm-6 col-md-3 col-lg-3 paddingleft AdjustDropDownWidth">
                                            <input type="text" ng-model="accountDetail.BeneficiaryBICorABA" class="form-control control-label" id="liBeneficiaryBICorABA{{$index}}" ng-change="fnGetBankDetails(accountDetail.BeneficiaryBICorABA,'Beneficiary',$index)" required />
                                        </div>
                                        <div class="col-sm-6 col-md-3 col-lg-3 paddingleft AdjustDropDownWidth" id="divUltimateBeneficiaryBICorABA{{$index}}">
                                            <input type="text" ng-model="accountDetail.UltimateBeneficiaryBICorABA" class="form-control control-label" id="liUltimateBeneficiaryBICorABA{{$index}}" ng-change="fnGetBankDetails(accountDetail.UltimateBeneficiaryBICorABA,'UltimateBeneficiary',$index)" />
                                        </div>
                                    </div>
                                    <p></p>
                                    <div class="row">
                                        <div class="col-sm-6 col-md-3 col-lg-2 paddingleft">
                                            <label class="control-label" style="margin-left: 15px;">Bank/Account Name </label>
                                        </div>
                                        <div class="col-sm-6 col-md-3 col-lg-3 paddingleft">
                                            <input type="text" ng-model="accountDetail.IntermediaryBankName" class="form-control control-label" id="intermediaryBankName{{$index}}" placeholder="Bank Name" disabled />
                                        </div>
                                        <div class="col-sm-6 col-md-3 col-lg-3 paddingleft">
                                            <input type="text" ng-model="accountDetail.BeneficiaryBankName" class="form-control control-label" placeholder="Bank Name" id="beneficiaryBankName{{$index}}" disabled />
                                        </div>
                                        <div class="col-sm-6 col-md-3 col-lg-3 paddingleft">
                                            <input type="text" name="BankName" ng-model="accountDetail.UltimateBeneficiaryBankName" class="form-control control-label" placeholder="Bank/Bene Name" id="ultimateBankName{{$index}}" disabled />
                                            <input type="text" class="form-control" ng-model="accountDetail.UltimateBeneficiaryAccountName" placeholder="Account Name" id="accountName{{$index}}" style="display: none;" />
                                        </div>
                                    </div>
                                    <p></p>
                                    <div class="row">
                                        <div class="col-sm-6 col-md-3 col-lg-2 paddingleft">
                                            <label for="beneficiaryBankAddress{{$index}}" class="control-label" style="margin-left: 15px;">Bank Address </label>
                                        </div>
                                        <div class="col-sm-6 col-md-3 col-lg-3 paddingleft">
                                            <textarea class="form-control modalInputWidth" rows="4" cols="10" placeholder="Bank Address" ng-model="accountDetail.IntermediaryBankAddress" id="intermediaryBankAddress{{$index}}" disabled></textarea>
                                        </div>
                                        <div class="col-sm-6 col-md-3 col-lg-3 paddingleft">
                                            <textarea class="form-control modalInputWidth" rows="4" cols="10" placeholder="Bank Address" ng-model="accountDetail.BeneficiaryBankAddress" id="beneficiaryBankAddress{{$index}}" disabled></textarea>
                                        </div>
                                        <div class="col-sm-6 col-md-3 col-lg-3 paddingleft">
                                            <textarea class="form-control modalInputWidth" rows="4" cols="10" placeholder="Bank/Bene Address" ng-model="accountDetail.UltimateBeneficiaryBankAddress" id="ultimateBankAddress{{$index}}" disabled></textarea>
                                        </div>
                                    </div>
                                    <p></p>

                                    <div class="panel panel-default container-fluid" id="pnlContact{{$index}}" plindex="{{$index}}">
                                        <div class="panel-heading row" style="cursor: pointer;">

                                            <h4 class="panel-title">
                                                Contact
                                                <span class="pull-right">
                                                    <a class="btn btn-sm btn-info" ng-click="$event.stopPropagation();fnCreateContact()"><i class="glyphicon glyphicon-phone"></i>&nbsp;Add Contact</a>&nbsp;&nbsp;
                                                    <i class="indicator glyphicon glyphicon-chevron-down"></i>
                                                </span>
                                            </h4>

                                        </div>
                                        <div class="collapse">
                                            <div class="panel-body">
                                                <div class="control-group">
                                                    <p></p>
                                                    <div class="row">
                                                        <div class="col-sm-12 col-md-12 col-lg-12 paddingleft">
                                                            <div class="col-sm-8 col-md-2 col-lg-2" style="text-align: right">
                                                                <label class="control-label">Contact Type</label>
                                                            </div>
                                                            <div class="col-sm-8 col-md-3 col-lg-3 AdjustDropDownWidth">
                                                                <input ng-model="accountDetail.ContactType" class="form-control control-label" id="contactType{{$index}}">
                                                            </div>
                                                            <div class="col-sm-8 col-md-2 col-lg-2" style="text-align: right">
                                                                <label class="control-label">Contacts</label>
                                                            </div>
                                                            <div class="col-sm-8 col-md-3 col-lg-3 AdjustDropDownWidth liHMUsers">
                                                                <input ng-model="accountDetail.ContactName" class="form-control control-label accountDetail_ContactName" id="liContacts{{$index}}" ng-change="fnOnContactNameChange(accountDetail.ContactName, $index)" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <p></p>
                                                    <div class="row">
                                                        <div class="col-sm-12 col-md-12 col-lg-12">
                                                            <table id="contactTable{{$index}}" class="table table-condensed table-bordered table-striped table-hover table-highlighted"><tfoot></tfoot></table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default container-fluid" id="Attachment{{$index}}" plindex="{{$index}}">
                                        <div class="panel-heading row" style="cursor: pointer;">

                                            <h4 class="panel-title">
                                                Attachment
                                                <span class="pull-right"><i class="indicator glyphicon glyphicon-chevron-down"></i></span>
                                            </h4>

                                        </div>
                                        <div class="collapse">
                                            <div class="panel-body">
                                                <div class="control-group">
                                                    <p></p>
                                                    <div class="row">
                                                        <div class="col-sm-12 col-md-12 col-lg-12">
                                                            <div id="dropZoneDiv{{$index}}">
                                                                @* ReSharper disable once Html.TagNotResolved *@
                                                                <ng-form class="dropzone uploadFiles" enctype="multipart/form-data" id="uploadFiles{{$index}}" method="post" novalidate />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <p></p>
                                                    <div class="row">
                                                        <div class="col-sm-12 col-md-12 col-lg-12">
                                                            <table id="documentTable{{$index}}" class="table table-condensed table-bordered table-striped table-hover table-highlighted"><tfoot></tfoot></table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <p></p>
                                    <div class="panel panel-default container-fluid" id="ssiAssociated{{$index}}" plindex="{{$index}}">
                                        <div class="panel-heading row" style="cursor: pointer;">

                                            <h4 class="panel-title">
                                                Associated Settlement Instructions
                                                <span class="pull-right">
                                                    @if (User.IsWireApprover())
                                                    {
                                                        <span class="btn-group" id="btnAccountMapStatusButtons" style="display: none;">
                                                            @*<a id="accountMapRequestForApproval" title="Request for Approval" class="btn btn-warning btn-sm disabled" ng-click="$event.stopPropagation();fnUpdateAccountMapStatus('Pending Approval','Request for Approval')" style="text-transform: capitalize;"><i class="glyphicon glyphicon-share-alt"></i>&nbsp;Request for Approval</a>*@
                                                            <a id="accountMapApprove" title="Approve" class="btn btn-success btn-sm disabled" ng-click="$event.stopPropagation();fnUpdateAccountMapStatus('Approved','Approve')" style="text-transform: capitalize;"><i class="glyphicon glyphicon-ok"></i> Approve SSI Association</a>
                                                            @*<a id="accountMapRevert" title="Revert" class="btn btn-info btn-sm disabled" ng-click="$event.stopPropagation();fnUpdateAccountMapStatus('Created','Revert')" style="text-transform: capitalize;"><i class="glyphicon glyphicon-repeat icon-flipped"></i> Revert</a>*@
                                                        </span>
                                                    }
                                                    <a class="btn btn-sm btn-primary" ng-click="$event.stopPropagation();fnAssociationSSI($index)"><i class="glyphicon glyphicon-plus"></i>&nbsp;Add Association</a>&nbsp;&nbsp;
                                                    <i class="indicator glyphicon glyphicon-chevron-down"></i>
                                                </span>
                                            </h4>

                                        </div>
                                        <div class="collapse">
                                            <div class="panel-body">
                                                <div class="control-group">
                                                    <p></p>
                                                    <div class="row">
                                                        <div class="col-sm-12 col-md-12 col-lg-12">
                                                            <table id="ssiTemplateTable{{$index}}" class="table table-condensed table-bordered table-striped table-hover ssiTemplate table-highlighted" tindex="{{$index}}"><tfoot></tfoot></table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer" style="margin: 0 0 0 0; padding-bottom: 10px; padding-top: 5px;">
                                @if (User.IsWireUser())
                                {
                                    <button type="submit" id="btnSave" ng-click="fnSaveAccount(accountForm.$valid,'Created')" title="Save the account" class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-floppy-save"></i>&nbsp;Save Account</button>
                                    <button id="btnPendingApproval" ng-click="fnSaveAccount(accountForm.$valid,'Pending Approval')" title="Pending approval the account" class="btn btn-warning btn-sm" style="display: none;"><i class="glyphicon glyphicon-share-alt"></i>&nbsp;Request for Approval</button>
                                    if (User.IsWireApprover())
                                    {
                                        <button id="btnApprove" ng-click="fnSaveAccount(accountForm.$valid,'Approved')" title="Approve the account" class="btn btn-success btn-sm" style="display: none;"><i class="glyphicon glyphicon-ok"></i>&nbsp;Approve</button>
                                    }
                                    <button id="btnRevert" ng-click="fnSaveAccount(accountForm.$valid,'Created')" title="Revert the account" class="btn btn-info btn-sm" style="display: none;"><i class="glyphicon glyphicon-repeat"></i>&nbsp;Revert</button>
                                }
                                <a href="#" class="btn btn-sm btn-default" data-dismiss="modal">Dismiss</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="UpdateAccountStatusModal" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="UpdateAccountStatusModal" aria-hidden="true" style="width: 100%">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4>Add Comments</h4>
                            </div>
                            <div class="modal-body">
                                <p class="text-left" id="pMsg"></p>
                                <textarea placeholder="Enter Comments" id="statusComments" style="width: 90%; max-width: none;" class="form-control"></textarea>
                            </div>
                            <div class="modal-footer">
                                <button id="btnSaveComment" class="btn btn-warning btn-sm" ng-click="fnSaveAccountStatus()"><i class="glyphicon glyphicon-flag"></i>&nbsp;Proceed</button>
                                <button id="btnSendApproval" class="btn btn-sm btn-warning" ng-click="fnSendApprovalAccountStatus()" style="display: none;"><i class="glyphicon glyphicon-share-alt"></i>&nbsp;Request for Approval</button>
                                <a href="#" class="btn btn-default btn-sm" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i>Cancel</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="accountSSITemplateMapModal" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4>Add SSI Template Association</h4>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-sm-8 col-md-3 col-lg-3">
                                        <label for="liSsiTemplate" class="control-label">SSI Template:</label>
                                    </div>
                                    <div class="col-sm-8 col-md-8 col-lg-8">
                                        <span id="spnSsi"> <input type="text" id="liSsiTemplate" class="modalInputWidth form-control" placeholder="Select a SSI Template" /></span>
                                    </div>
                                </div>
                                <input type="hidden" id="accountNumber" />
                                <input type="hidden" id="templateType" />
                                @*<p></p>
                                    <div class="row">
                                        <div class="col-sm-8 col-md-3 col-lg-3">
                                            <label class="control-label">FFC Name</label>
                                        </div>
                                        <div class="col-sm-8 col-md-5 col-lg-5">
                                            <input type="text" id="FFCName" ng-model="onBoardingAccountSSITemplateMap.FFCName" class="form-control control-label" placeholder="FFC Name"/>
                                        </div>
                                    </div>
                                    <p></p>
                                    <div class="row">
                                        <div class="col-sm-8 col-md-3 col-lg-3">
                                            <label class="control-label">FFC Number</label>
                                        </div>
                                        <div class="col-sm-8 col-md-5 col-lg-5">
                                            <input type="text" id="FFCNumber" ng-model="onBoardingAccountSSITemplateMap.FFCNumber" class="form-control control-label" placeholder="FFC Number"/>
                                        </div>
                                    </div>
                                    <p></p>
                                    <div class="row">
                                        <div class="col-sm-8 col-md-3 col-lg-3">
                                            <label class="control-label">Reference</label>

                                        </div>
                                        <div class="col-sm-8 col-md-5 col-lg-5">
                                            <input type="text" id="Reference" ng-model="onBoardingAccountSSITemplateMap.Reference" class="form-control control-label" placeholder="Reference"/>

                                        </div>
                                    </div>*@
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-sm btn-primary" ng-click="fnAddAccountSSITemplateMap()">
                                    <i class="glyphicon glyphicon-copy"></i>&nbsp;Add Association
                                </button>
                                <a href="#" class="btn btn-sm btn-default" data-dismiss="modal">Cancel</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="accountDescriptionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4>Add Description</h4>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-sm-8 col-md-4 col-lg-4">
                                        <label for="txtDescription" class="control-label">Description:</label>
                                    </div>
                                    <div class="col-sm-8 col-md-8 col-lg-8">
                                        <input type="text" id="txtDescription" class="modalInputWidth form-control" placeholder="Description" />
                                    </div>
                                </div>
                                @*<div class="row" style="margin-top: 10px;">
                                        <div class="col-sm-4 col-md-4 col-lg-4">
                                        </div>
                                        <div class="col-sm-8 col-md-8 col-lg-8">
                                            <label class="control-label">&nbsp;&nbsp;Example: US – New York</label>
                                        </div>
                                    </div>*@
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-sm btn-primary" ng-click="fnAddAccountDescription()">
                                    <i class="glyphicon glyphicon-copy"></i>&nbsp;Add Description
                                </button>
                                <a href="#" class="btn btn-sm btn-default" data-dismiss="modal">Cancel</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="currencyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4>Add Currency</h4>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-sm-8 col-md-4 col-lg-4">
                                        <label for="txtCurrency" class="control-label">Currency:</label>
                                    </div>
                                    <div class="col-sm-8 col-md-8 col-lg-8">
                                        <input type="text" id="txtCurrency" class="modalInputWidth form-control" placeholder="Currency" />
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-sm btn-primary" ng-click="fnAddCurrency()">
                                    <i class="glyphicon glyphicon-copy"></i>&nbsp;Add Currency
                                </button>
                                <a href="#" class="btn btn-sm btn-default" data-dismiss="modal">Cancel</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="cashInstructionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4>Add Cash Instruction Mechanism</h4>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-sm-8 col-md-5 col-lg-5">
                                        <label for="txtCashInstruction" class="control-label">Cash Instruction Mechanism:</label>
                                    </div>
                                    <div class="col-sm-8 col-md-7 col-lg-7">
                                        <input type="text" id="txtCashInstruction" class="modalInputWidth form-control" placeholder="Cash Instruction Mechanism" />
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-sm btn-primary" ng-click="fnAddCashInstruction()">
                                    <i class="glyphicon glyphicon-copy"></i>&nbsp;Add Cash Instruction
                                </button>
                                <a href="#" class="btn btn-sm btn-default" data-dismiss="modal">Cancel</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="beneficiaryABABICModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4>Add Beneficiary ABA / BIC</h4>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-sm-8 col-md-4 col-lg-4">
                                        <label for="txtBICorABA" class="control-label">BIC or ABA Name:</label>
                                    </div>
                                    <div class="col-sm-8 col-md-8 col-lg-8">
                                        <input type="text" id="txtBICorABA" class="modalInputWidth form-control" placeholder="BIC or ABA Name" />
                                    </div>
                                </div>
                                <p></p>
                                <div class="row">
                                    <div class="col-sm-8 col-md-4 col-lg-4">
                                        <label for="btnBICorABA" class="control-label">BIC or ABA Type:</label>
                                    </div>
                                    <div class="col-sm-8 col-md-8 col-lg-8">
                                        <input id="btnBICorABA" class="form-control" type="checkbox" data-offstyle="btn btn-sm btn-success" data-width="90" data-height="28" style="line-height: 21px" data-onstyle="btn btn-sm btn-primary" data-toggle="toggle" data-off="BIC" data-on="ABA" />
                                    </div>
                                </div>
                                <p></p>
                                <div class="row">
                                    <div class="col-sm-8 col-md-4 col-lg-4">
                                        <label for="txtBankName" class="control-label">Bank Name:</label>
                                    </div>
                                    <div class="col-sm-8 col-md-8 col-lg-8">
                                        <input type="text" id="txtBankName" class="modalInputWidth form-control" placeholder="Bank Name" />
                                    </div>
                                </div>
                                <p></p>
                                <div class="row">
                                    <div class="col-sm-8 col-md-4 col-lg-4">
                                        <label for="txtBankAddress" class="control-label">Bank Address:</label>
                                    </div>
                                    <div class="col-sm-8 col-md-8 col-lg-8">
                                        <textarea class="form-control modalInputWidth" rows="6" cols="10" placeholder="Bank Address" id="txtBankAddress"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-sm btn-primary" ng-click="fnAddBICorABA()">
                                    <i class="glyphicon glyphicon-copy"></i>&nbsp;Add BIC / ABA
                                </button>
                                <a href="#" class="btn btn-sm btn-default" data-dismiss="modal">Cancel</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="UpdateAccountMapStatusModal" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="UpdateAccountMapStatusModal" aria-hidden="true" style="width: 100%">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4>Add Comments</h4>
                            </div>
                            <div class="modal-body">
                                <p class="text-left" id="pAccountMapMsg"></p>
                                <textarea placeholder="Enter Comments" id="statusMapComments" style="width: 90%; max-width: none;" class="form-control"></textarea>
                            </div>
                            <div class="modal-footer">
                                <button id="btnMapSaveComment" class="btn btn-warning btn-sm" ng-click="fnSaveAccountMapStatus()"><i class="glyphicon glyphicon-flag"></i>&nbsp;Proceed</button>
                                <a href="#" class="btn btn-default btn-sm" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i> Cancel</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="authorizedPartyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4>Add Authorized Party</h4>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-sm-8 col-md-4 col-lg-4">
                                        <label for="txtAuthorizedParty" class="control-label">Authorized Party:</label>
                                    </div>
                                    <div class="col-sm-8 col-md-8 col-lg-8">
                                        <input type="text" id="txtAuthorizedParty" class="modalInputWidth form-control" placeholder="Authorized Party" />
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-sm btn-primary" ng-click="fnAddAuthorizedParty()">
                                    <i class="glyphicon glyphicon-copy"></i>&nbsp;Add Authorized Party
                                </button>
                                <a href="#" class="btn btn-sm btn-default" data-dismiss="modal">Cancel</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="swiftGroupModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4>Add Swift Group</h4>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-sm-8 col-md-4 col-lg-4">
                                        <label for="txtSwiftGroup" class="control-label">Swift Group:</label>
                                    </div>
                                    <div class="col-sm-8 col-md-8 col-lg-8">
                                        <input type="text" id="txtSwiftGroup" class="modalInputWidth form-control" placeholder="Swift Group" />
                                    </div>
                                </div>
                                <p></p>
                                <div class="row">
                                    <div class="col-sm-8 col-md-4 col-lg-4">
                                        <label for="txtSendersBIC" class="control-label">Senders BIC:</label>
                                    </div>
                                    <div class="col-sm-8 col-md-8 col-lg-8">
                                        <input type="text" id="txtSendersBIC" class="modalInputWidth form-control" placeholder="Senders BIC" />
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-sm btn-primary" ng-click="fnAddSwiftGroup()">
                                    <i class="glyphicon glyphicon-copy"></i>&nbsp;Add Swift Group
                                </button>
                                <a href="#" class="btn btn-sm btn-default" data-dismiss="modal">Cancel</a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div id="dvAssociation" class="tab-pane">
            <div class="panel panel-default container" data-toggle="collapse" id="basicDetail">
                <div class="panel-heading row" style="cursor: pointer;">
                    <h4 class="panel-title">
                        Basic Details
                    </h4>
                </div>
                <div class="panel-body">
                    <div class="col-sm-8 col-md-8 col-lg-8 col-lg-8">
                        <div class="row control-group" style="margin-left: 10px; margin-right: 10px;">
                            <p></p>
                            <div class="row">
                                <div class="col-sm-8 col-md-3 col-lg-3">
                                    <label class="control-label"> Fund <span style="color: red">  *</span></label>
                                </div>
                                <div class="col-sm-8 col-md-5 col-lg-5 liAgreement">
                                    <input type="text" class="form-control" id="liOnboardingFund" />
                                </div>
                            </div>
                            <p></p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="panel-body" style="border-top: #f5f5f5 solid 1px">
                <table id="accountSSITemplateTable" class="table table-condensed table-bordered table-striped table-hover"><tfoot></tfoot></table>
            </div>
            @*<div class="panel panel-default container-fluid" id="plnAccountAssociation" style="border-color: #dddddd; border-top: 3px solid #A29060;">

                </div>*@
        </div>
    </div>
</div>


@section javascript
{
    <script src="~/Scripts/OpsSecure/Accounts/AccountList.js"></script>
}

