<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="AdminContext" connectionString="metadata=res://*/AdminModel.csdl|res://*/AdminModel.ssdl|res://*/AdminModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=dmu-ms-agl04.db.qa.bnymellon.net,14331;initial catalog=HM;persist security info=True;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="OperationsContext" connectionString="metadata=res://*/OperationsContext.csdl|res://*/OperationsContext.ssdl|res://*/OperationsContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=dmu-ms-agl02.db.qa.bnymellon.net,14331;initial catalog=DMA_HM;persist security info=True;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="OperationsSecureContext" connectionString="metadata=res://*/OperationsSecureModel.csdl|res://*/OperationsSecureModel.ssdl|res://*/OperationsSecureModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=dmu-ms-agl02.db.qa.bnymellon.net,14331;initial catalog=HM_WIRES;persist security info=True;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework;Column Encryption Setting=Enabled&quot;"   providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="HMOpsSecureConnectionString" connectionString="Data Source=dmu-ms-agl04.db.qa.bnymellon.net,14331;Initial Catalog=HM;Integrated Security=True; Max Pool Size=75; Min Pool Size=5;MultipleActiveResultSets=true;" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <mailBoxSettings>
    <mailBoxes>
      <add mailBoxName="hm-ops-qa" username="AMS\O71579795229x" password="M#%v232&amp;%54n" enableSsl="true"   xdt:Transform="SetAttributes" xdt:Locator="Match(mailBoxName)"></add>
    </mailBoxes>
  </mailBoxSettings>
  <appSettings>
    <add key="Environment" value="QA01" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="OpsSecureRootDirectory" value="\\svm1som30l01\hm-web03-qa\HM-Operations-Secure\" xdt:Transform="Insert"/>
    <add key="ManagedAccountRootDirectory" value="\\svm1som30l01\hm-web03-qa\ManagedAccountFiles\" xdt:Transform="Insert"/>
    <add key="QueueManagerName" value="QQ0283" xdt:Transform="Insert"/>
    <add key="ChannelConnectionName" value="mqapl-qm254-preprod.msg.qa.bnymellon.net" xdt:Transform="Insert"/>
    <add key="ChannelConnectionPort" value="17253" xdt:Transform="Insert"/>
    <add key="ClientChannelName" value="QQ0283.DMO.CLIENT" xdt:Transform="Insert"/>
    <add key="SenderQueueName" value="DMO.EMX.DMO2EMX.OUTBOUND.U1.F" xdt:Transform="Insert"/>
    <add key="ReceiverQueueName" value="DMO.EMX.EMX2DMO.INBOUND.U1.F" xdt:Transform="Insert"/>
    <add key="ReceiverAckQueueName" value="DMO.EMX.EMX2DMO.ACK.U1.F" xdt:Transform="Insert"/>
  </appSettings>
  <system.web>
    <!--<compilation xdt:Transform="RemoveAttributes(debug)" />-->
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Index" timeout="20" slidingExpiration="true" enableCrossAppRedirects="true" name=".ASPXOPSQASECUREAUTH" domain="bnymellon.com" requireSSL="true" xdt:Transform="SetAttributes" xdt:Locator="Match(loginUrl)"/>
    </authentication>
  </system.web>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Host Header Validation" enabled="true" stopProcessing="true" >
          <match url="(.*)" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="([a-zA-Z0-9-_]+.)*bnymellon.com$" negate="true" />
          </conditions>
          <action type="Redirect" url="https://bnymellon.com/" />
        </rule>
      </rules>
    </rewrite>
    <modules>
      <add name="CASiteMinderWebagentModule" preCondition="integratedMode,bitness64" xdt:Transform="Insert"/>
      <add name="CASiteMinderWebagentModule-32" preCondition="integratedMode,bitness32" xdt:Transform="Insert"/>
    </modules>
    <isapiFilters xdt:Transform="Insert">
      <filter name="SiteMinder Agent" path="C:\Program Files\CA\webagent\win64\bin\ISAPI6WebAgent.dll" enabled="true" preCondition="classicMode,bitness64" />
      <filter name="SiteMinder Agent-32" path="C:\Program Files\CA\webagent\win32\bin\ISAPI6WebAgent.dll" enabled="true" preCondition="classicMode,bitness32" />
    </isapiFilters>
  </system.webServer>
  <system.serviceModel>
    <client>
      <!--TEST/DEV UMS CONFIG-->
      <endpoint address="https://ums.qa.bnymellon.net/ums/services/LDAPServiceDelegate"
                binding="basicHttpBinding" bindingConfiguration="LDAPServiceDelegateSoapBinding"
                contract="UserManagementService.LDAPServiceDelegate" name="LDAPServiceDelegate" />
    </client>
  </system.serviceModel>
  <log4net>
    <appender name="SmtpAppender" type="log4net.Appender.SmtpAppender,log4net"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)">
      <from value="hm-ops-qa@bnymellon.com" xdt:Transform="SetAttributes"/>
      <subject value="Operation Secure Log - QA01" xdt:Transform="SetAttributes"/>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO" xdt:Transform="SetAttributes"/>
      </filter>
    </appender>
    <appender name="RollingFileAppenderXML" type="log4net.Appender.RollingFileAppender"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)">
      <file type="log4net.Util.PatternString" value="\\svm1som30l01\hm-web03-qa\HM-Operations-Secure-Logs\%property{log4net:HostName}\WebLogs\WebLog_" xdt:Transform="SetAttributes"/>
    </appender>
    <root>
      <level value="DEBUG" xdt:Transform="Replace" />
    </root>
  </log4net>
</configuration>
