
<div class="modal fade" id="modalToRetrieveWires" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-mlg2" role="document" >
        <div class="modal-content">
            <div class="row" style="position: sticky;top: 0;z-index:2;">
                <span class="col-md-12" style="margin-bottom: 10px;">
                    <p class="panel panel-heading" style="background: #F5F5F5;border-bottom: 1px solid lightgray;">
                        <img src="..\Images\spinner.gif" alt="Loading..." class="triggerTasklogLoadSpinner" ng-style="{ 'display': isWireLoadingInProgress ? 'inline' : 'none' }" />
                        @*<i class="glyphicon glyphicon-usd"></i>*@
                        <span style="font-size: 15px;font-weight: bold">Wire Ticket Details  </span>
                        <span ng-if="!WireTicketStatus.IsApprovedOrFailed">
                            <span style="padding-top: 5px;font-size: 12px;">
                                | &nbsp;<span ng-style="{'color': isDeadlineCrossed ? 'darkred' : 'black' }">Deadline To Approve:</span>
                            </span>
                            <i class="glyphicon glyphicon-time"></i>&nbsp;
                            <span style="position: absolute">
                                <span class="col-md-2" style="font-size: 13px;padding: 0px;"><label class="label label-success">{{ timeToShow }}</label></span>
                            </span>|&nbsp;
                        </span>
                        <span ng-style="{'margin-left': WireTicketStatus.IsApprovedOrFailed ? '0px' : '55px' }">|&nbsp;Wire Status: <span id="spnwireStatus" style="font-size: 12px;" class="label"><b>{{ getWireStatus() }}</b></span></span>
                        <span ng-style="{'margin-left': WireTicketStatus.IsApprovedOrFailed ? '0px' : '55px' }" ng-show="WireTicket.SwiftStatusId > 1">|&nbsp;Swift Status: <span id="spnswiftStatus" style="font-size: 12px;" class="label"><b>{{ getSwiftStatus() }}</b></span></span>
                        <span ng-show="WireTicket.WireStatusId == 6" style="font-weight: bold"> - by {{workflowUsers[0]}}</span>
                    </p>
                </span>
                <span class="pull-right" style="padding: 5px; position: absolute; margin: 5px 0px 0px -50px">
                    <button title="close this log" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </span>
                <div class="collapse container-fluid" id="wireCurrentlyViewedBy">
                    <div class="panel panel-warning panel-body" style="background: #f9f4cd;padding: 10px;">
                        <span><i class="glyphicon glyphicon-warning-sign"></i>&nbsp;This wire is currently also being viewed by <i style="font-weight: bold">{{currentlyViewedBy}}</i>.</span>
                    </div>
                </div>
            </div>
            <div class="modal-body" style="padding: 0px 20px 0px 20px;">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <label>Value Date:</label>
                        </div>
                        <div class="col-md-3">
                            <span><a href="#" id="wireValueDate" data-date="{{ WireTicket.ValueDate | date: 'MM/dd/yyyy' }}" title="Choose a value date"></a></span>
                        </div>
                    </div>
                </div>
                <div ng-if="WireTicket.hmsWireId > 0">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-3">
                                <label>Sending Account:</label>
                            </div>
                            <div class="col-md-3" ng-show="!WireTicketStatus.IsEditEnabled">
                                <input type="text" id="liWireAccount" class="form-control primary-info" ng-model="accountDetail.AccountName" readonly />
                            </div>
                            <div class="col-md-3" ng-show="WireTicketStatus.IsEditEnabled">
                                <input id="liSendingAccount" type="text" class="form-control primary-info" name="liSendingAccount" ng-disabled="!isSendingAccountEnabled" />
                            </div>
                        </div>
                    </div>
                    <p ng-show="!WireTicketStatus.IsEditEnabled" />
                    <p style="height:5px;" ng-show="WireTicketStatus.IsEditEnabled" />
                    <div class="row" ng-if="!wireTicketObj.IsNotice">
                        <div class="col-md-12">
                            <div class="col-md-3">
                                <label>Receiving Account:</label>
                            </div>
                            <div class="col-md-3" ng-show="!(WireTicketStatus.IsWirePurposeAdhoc && WireTicketStatus.IsEditEnabled)">
                                <input type="text" id="liSSITemplate" class="form-control primary-info" ng-model="wireTicketObj.ReceivingAccountName" readonly />
                            </div>
                            <div class="col-md-3" ng-if="WireTicketStatus.IsWirePurposeAdhoc && WireTicketStatus.IsEditEnabled && !wireTicketObj.IsFundTransfer">
                                <input id="liReceivingAccount" type="text" class="form-control primary-info" name="liReceivingAccount" ng-disabled="!isReceivingAccountEnabled" />
                            </div>
                            <div class="col-md-3" ng-if="WireTicketStatus.IsWirePurposeAdhoc && WireTicketStatus.IsEditEnabled && wireTicketObj.IsFundTransfer">
                                <input id="liReceivingBookAccount" type="text" class="form-control primary-info" name="liReceivingBookAccount" ng-disabled="!isReceivingAccountEnabled" />
                            </div>
                        </div>
                    </div>
                    <p ng-show="!(WireTicketStatus.IsWirePurposeAdhoc && WireTicketStatus.IsEditEnabled)" />
                    <p style="height:5px;" ng-show="WireTicketStatus.IsWirePurposeAdhoc && WireTicketStatus.IsEditEnabled" />
                </div>
                <div ng-if="WireTicket.hmsWireId == 0">
                    <div class="row" ng-show="wireObj.IsAdhocWire">
                        <div class="col-md-12">
                            <div class="col-md-3">
                                <label>Transfer type:</label>
                            </div>
                            <div class="col-md-3">
                                <input id="liWireTransferType" type="text" name="liWireTransferType" class="form-control primary-info" />
                            </div>
                        </div>
                    </div>
                    <p style="height:5px;" ng-show="wireObj.IsAdhocWire" />
                    <div class="row" ng-show="wireObj.IsAdhocWire">
                        <div class="col-md-12">
                            <div class="col-md-3">
                                <label>Purpose:</label>
                            </div>
                            <div class="col-md-3">
                                <input id="liWiresPurpose" type="text" name="liWiresPurpose" class="form-control primary-info" />
                            </div>
                        </div>
                    </div>
                    <p style="height:5px;" ng-show="wireObj.IsAdhocWire" />
                    <div class="row" ng-show="wireObj.IsAdhocWire">
                        <div class="col-md-12">
                            <div class="col-md-3">
                                <label>Select Fund:</label>
                            </div>
                            <div class="col-md-3">
                                <input id="liFund" type="text" name="liFund" class="form-control primary-info" />
                            </div>
                        </div>
                    </div>
                    <p style="height:5px;" ng-show="wireObj.IsAdhocWire" />
                    <div class="row" ng-show="wireObj.IsAdhocWire">
                        <div class="col-md-12">
                            <div class="col-md-3">
                                <label>Select Currency:</label>
                            </div>
                            <div class="col-md-3">
                                <input id="liCurrency" type="text" name="liCurrency" class="form-control primary-info" ng-disabled="!WireTicketStatus.IsEditEnabled" />
                            </div>
                        </div>
                    </div>
                    <p style="height:5px;" ng-show="wireObj.IsAdhocWire" />
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-3">
                                <label>Select {{wireTicketObj.IsNotice?'Receiving':'Sending'}} Account:</label>
                            </div>
                            <div class="col-md-3">
                                <input id="liSendingAccount" type="text" class="form-control primary-info" name="liSendingAccount" ng-disabled="!isSendingAccountEnabled" />
                            </div>
                        </div>
                    </div>
                    <p style="height:5px;" />
                    <div class="row" ng-show="wireTicketObj.IsFundTransfer">
                        <div class="col-md-12">
                            <div class="col-md-3">
                                <label>Select Receiving Account:</label>
                            </div>
                            <div class="col-md-3">
                                <input id="liReceivingBookAccount" type="text" class="form-control primary-info" name="liReceivingBookAccount" ng-disabled="!isReceivingAccountEnabled" />
                            </div>
                        </div>
                    </div>
                    <p style="height:5px;" ng-show="wireTicketObj.IsFundTransfer" />
                    <div class="row" ng-show="!wireTicketObj.IsFundTransfer && !wireTicketObj.IsNotice">
                        <div class="col-md-12">
                            <div class="col-md-3">
                                <label>Select Receiving Account:</label>
                            </div>
                            <div class="col-md-3" ng-show="wireObj.IsAdhocWire">
                                <input id="liReceivingAccount" type="text" class="form-control primary-info" name="liReceivingAccount" ng-disabled="!isReceivingAccountEnabled" />
                            </div>
                            <div class="col-md-3" ng-show="!wireObj.IsAdhocWire">
                                <input type="text" id="liSSITemplate" class="form-control primary-info" ng-model="wireTicketObj.ReceivingAccountName" readonly />
                            </div>
                        </div>
                    </div>
                    <p style="height:5px;" ng-show="!wireTicketObj.IsFundTransfer && !wireTicketObj.IsNotice" />
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <label>Amount:</label>
                        </div>
                        <div class="col-md-3">
                            <span type="text" id="wireAmount" class="form-control primary-info" ng-disabled="!(WireTicketStatus.IsWirePurposeAdhoc && WireTicketStatus.IsEditEnabled)" />
                        </div>
                        <div class="col-md-1" style="width:5px !important;margin-left:-15px;margin-top:5px;">-</div>
                        <div class="col-md-1">
                            <input type="text" class="form-control primary-info" ng-model="wireTicketObj.ReceivingAccountCurrency" readonly style="width:60px;height:30px;" />
                        </div>
                    </div>
                </div>
                <p style="height:5px;" />
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <label>Message Type:<span style="color: red">  *</span></label>
                        </div>
                        <div class="col-md-3">
                            <input type="text" id="liMessageType" class="form-control" disabled />
                        </div>
                    </div>
                </div>
                <p style="height:5px;" />
                <div class="row" ng-show="WireTicket.WireMessageTypeId == 1">
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <label>Delivery Charges:<span style="color: red">  *</span></label>
                        </div>
                        <div class="col-md-3">
                            <input type="text" id="liDeliveryCharges" class="form-control" disabled />
                        </div>
                    </div>
                </div>
                <p style="height:5px;" ng-show="WireTicket.WireMessageTypeId == 1" />
                <div class="row" ng-show="wireTicketObj.IsSenderInformationRequired">
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <label>Sender's Information:</label>
                        </div>
                        <div class="col-md-3">
                            <input type="text" id="liSenderInformation" class="form-control" disabled />
                        </div>
                        <div class="col-md-1" style="width: 5px !important;margin-left: -15px;margin-top: 5px;font-weight: bold;font-size: 15px;">/</div>
                        <div class="col-md-5">
                            <textarea id="wireSenderDescription" ng-model="WireTicket.SenderDescription" class="form-control" disabled></textarea>
                        </div>
                    </div>
                </div>
                <p style="height:5px;" ng-show="wireTicketObj.IsSenderInformationRequired" />
                <div class="panel panel-default" id="panelAccountSelector" ng-if="WireTicket.OnboardAccountId != ''">
                    <div class="panel-heading" data-toggle="collapse" data-target="#accountDetailDiv" ng-click="collapseContainer('Account')" aria-expanded="false" aria-controls="accountDetailDiv">
                        <span class="">Sending Account Details</span>&nbsp;&nbsp;<span class="label label-primary prewrap">{{ accountDetail.AccountNumber + " - " + accountDetail.AccountName }}</span><span class="glyphicon  pull-right" ng-class="{ 'glyphicon-chevron-right': !isAccountCollapsed , 'glyphicon-chevron-down': isAccountCollapsed }"></span>
                    </div>
                    <div id="accountDetailDiv" class="panel-body collapse">
                        <div class="row">
                            <div class="col-sm-12 col-md-9 col-lg-6">
                                <div class="col-sm-8 col-md-4 col-lg-4">
                                    <label class="control-label">Account Name </label>
                                </div>
                                <div class="col-sm-8 col-md-5 col-lg-5">
                                    <input type="text" class="form-control" ng-model="accountDetail.AccountName" readonly />
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-9 col-lg-6">
                                <div class="col-sm-8 col-md-4 col-lg-4">
                                    <label class="control-label">Account Number </label>
                                </div>
                                <div class="col-sm-8 col-md-5 col-lg-5">
                                    <input name="accountnumber" type="text" class="form-control" ng-model="accountDetail.AccountNumber" readonly />
                                </div>
                            </div>
                        </div>
                        <p />
                        <div class="row">
                            <div class="col-sm-12 col-md-9 col-lg-6">
                                <div class="col-sm-8 col-md-4 col-lg-4">
                                    <label class="control-label">Currency </label>
                                </div>
                                <div class="col-sm-8 col-md-5 col-lg-5">
                                    <input type="text" class="form-control" ng-model="accountDetail.Currency" readonly />
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-9 col-lg-6">
                                <div class="col-sm-8 col-md-4 col-lg-4">
                                    <label class="control-label">Description </label>
                                </div>
                                <div class="col-sm-8 col-md-5 col-lg-5">
                                    <input ng-model="accountDetail.Description" class="form-control control-label" readonly />
                                </div>
                            </div>
                        </div>
                        <p />
                        <div class="row">
                            <div class="col-sm-12 col-md-9 col-lg-6">
                                <div class="col-sm-8 col-md-4 col-lg-4">
                                    <label class="control-label">Cash Sweep</label>
                                </div>
                                <div class="col-sm-8 col-md-5 col-lg-5">
                                    <input ng-model="accountDetail.CashSweep" class="form-control control-label" readonly />
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-9 col-lg-6 cashSweepTimeDiv" ng-show="accountDetail.CashSweep == 'Yes'">
                                <div class="col-sm-8 col-md-4 col-lg-4">
                                    <label class="control-label">Cash Sweep Time</label>
                                </div>
                                <div class="col-sm-8 col-md-7 col-lg-7">
                                    <div class="col-sm-8 col-md-6 col-lg-6" style="padding-left: 0;">
                                        <input type="time" ng-model="accountDetail.CashSweepTime" name="cashSweepTime" class="form-control" readonly />
                                    </div>
                                    <div class="col-sm-8 col-md-4 col-lg-4" style="padding-left: 0; padding-right: 20px;">
                                        <input ng-model="accountDetail.CashSweepTimeZone" class="form-control control-label" readonly />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p />
                        <div class="row">
                            <div class="col-sm-12 col-md-9 col-lg-6">
                                <div class="col-sm-8 col-md-4 col-lg-4">
                                    <label class="control-label">Wire Portal Cutoff</label>
                                </div>
                                <div class="col-sm-8 col-md-6 col-lg-7">
                                    <div class="col-sm-8 col-md-6 col-lg-6" style="padding-left: 0;">
                                        <input type="time" name="cutOffTime" ng-model="accountDetail.WirePortalCutoff.CutoffTime" class="form-control" readonly />
                                    </div>
                                    <div class="col-sm-8 col-md-4 col-lg-4" style="margin-top: 5px; padding-left: 0;">
                                        <label class="label label-success" style="font-size: 12px; padding: 5px;">{{accountDetail.WirePortalCutoff.DaystoWire}} {{accountDetail.WirePortalCutoff.WirePortalCutoff.DaystoWire > 1 ? "Days" : "Day"}}</label>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <p />
                        <hr />
                        <p />
                        <div class="row">
                            <div class="col-sm-12 col-md-9 col-lg-6">
                                <div class="col-sm-8 col-md-4 col-lg-4">
                                    <label class="control-label">FFC Name</label>
                                </div>
                                <div class="col-sm-8 col-md-5 col-lg-5">
                                    <input type="text" ng-model="accountDetail.FFCName" class="form-control control-label" readonly />
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-9 col-lg-6">
                                <div class="col-sm-8 col-md-4 col-lg-4">
                                    <label class="control-label">FFC Number</label>
                                </div>
                                <div class="col-sm-8 col-md-5 col-lg-5">
                                    <input type="text" ng-model="accountDetail.FFCNumber" class="form-control control-label" readonly />
                                </div>
                            </div>
                        </div>
                        <p />
                        <div class="row">
                            <div class="col-sm-12 col-md-9 col-lg-6">
                                <div class="col-sm-8 col-md-4 col-lg-4">
                                    <label class="control-label">Reference</label>

                                </div>
                                <div class="col-sm-8 col-md-5 col-lg-5">
                                    <input type="text" ng-model="accountDetail.Reference" class="form-control control-label" readonly />
                                </div>
                            </div>
                        </div>
                        <p />
                        <div class="row">
                            <div class="col-sm-12 col-md-9 col-lg-6">
                                <div class="col-sm-8 col-md-4 col-lg-4">
                                    <label class="control-label">Swift Group </label>
                                </div>
                                <div class="col-sm-8 col-md-5 col-lg-5">
                                    <input type="text" class="form-control" ng-model="accountDetail.SwiftGroup.SwiftGroup" readonly />
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-9 col-lg-6">
                                <div class="col-sm-8 col-md-4 col-lg-4">
                                    <label class="control-label">Sender BIC </label>
                                </div>
                                <div class="col-sm-8 col-md-5 col-lg-5">
                                    <input name="accountnumber" type="text" class="form-control" ng-model="accountDetail.SwiftGroup.SendersBIC" readonly />
                                </div>
                            </div>
                        </div>
                        <p />

                        <div class="row" style="padding-top: 10px;">
                            <div class="col-sm-6 col-md-3 col-lg-2">
                            </div>
                            <div class="col-sm-6 col-md-3 col-lg-3">
                                <span class="row font-primary">Intermediary:</span>
                            </div>
                            <div class="col-sm-6 col-md-3 col-lg-3">
                                <span class="row font-primary">Beneficiary:</span>
                            </div>
                            <div class="col-sm-6 col-md-3 col-lg-3">
                                <span class="row font-primary">Ultimate Beneficiary:</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-md-3 col-lg-2">
                                <label class="control-label" style="margin-left: 15px;">Account Number</label>
                            </div>
                            <div class="col-sm-6 col-md-3 col-lg-3">
                                <input type="text" class="form-control" ng-model="accountDetail.IntermediaryAccountNumber" readonly />
                            </div>
                            <div class="col-sm-6 col-md-3 col-lg-3">
                                <input type="text" ng-model="accountDetail.BeneficiaryAccountNumber" class="form-control control-label" readonly />
                            </div>
                            <div class="col-sm-6 col-md-3 col-lg-3">
                                <input type="text" class="form-control" ng-model="accountDetail.AccountNumber" readonly />
                            </div>
                        </div>
                        <p />
                        <div class="row">
                            <div class="col-sm-6 col-md-3 col-lg-2">
                                <label class="control-label" style="margin-left: 15px;">Type</label>
                            </div>
                            <div class="col-sm-6 col-md-3 col-lg-3">
                                <input type="text" class="form-control" ng-model="accountDetail.IntermediaryType" readonly />
                            </div>
                            <div class="col-sm-6 col-md-3 col-lg-3">
                                <input type="text" class="form-control" ng-model="accountDetail.BeneficiaryType" readonly />
                            </div>
                            <div class="col-sm-6 col-md-3 col-lg-3">
                                <input type="text" class="form-control" ng-model="accountDetail.UltimateBeneficiaryType" readonly />
                            </div>
                        </div>
                        <p />
                        <div class="row">
                            <div class="col-sm-6 col-md-3 col-lg-2">
                                <label class="control-label" style="margin-left: 15px;">ABA/BIC</label>
                            </div>
                            <div class="col-sm-6 col-md-3 col-lg-3 ">
                                <input type="text" ng-model="accountDetail.Intermediary.BICorABA" class="form-control control-label" readonly />
                            </div>
                            <div class="col-sm-6 col-md-3 col-lg-3">
                                <input type="text" ng-model="accountDetail.Beneficiary.BICorABA" class="form-control control-label" readonly />
                            </div>
                            <div class="col-sm-6 col-md-3 col-lg-3">
                                <input type="text" ng-model="accountDetail.UltimateBeneficiary.BICorABA" ng-show="accountDetail.UltimateBeneficiaryType != 'Account Name'" class="form-control control-label" readonly />
                            </div>
                        </div>
                        <p />
                        <div class="row">
                            <div class="col-sm-6 col-md-3 col-lg-2">
                                <label class="control-label" style="margin-left: 15px;">Bank/Account Name </label>
                            </div>
                            <div class="col-sm-6 col-md-3 col-lg-3">
                                <input type="text" ng-model="accountDetail.Intermediary.BankName" class="form-control control-label" readonly />
                            </div>
                            <div class="col-sm-6 col-md-3 col-lg-3">
                                <input type="text" ng-model="accountDetail.Beneficiary.BankName" class="form-control control-label" readonly />
                            </div>
                            <div class="col-sm-6 col-md-3 col-lg-3" ng-show="accountDetail.UltimateBeneficiaryType != 'Account Name'">
                                <input type="text" name="BankName" ng-model="accountDetail.UltimateBeneficiary.BankName" class="form-control control-label" readonly />
                            </div>
                            <div class="col-sm-6 col-md-3 col-lg-3" ng-show="accountDetail.UltimateBeneficiaryType == 'Account Name'">
                                <input type="text" ng-model="accountDetail.UltimateBeneficiaryAccountName" class="form-control control-label" readonly />
                            </div>
                        </div>
                        <p />
                        <div class="row">
                            <div class="col-sm-6 col-md-3 col-lg-2">
                                <label class="control-label" style="margin-left: 15px;">Bank Address </label>
                            </div>
                            <div class="col-sm-6 col-md-3 col-lg-3">
                                <textarea class="form-control" rows="3" cols="10" ng-model="accountDetail.Intermediary.BankAddress" readonly></textarea>
                            </div>
                            <div class="col-sm-6 col-md-3 col-lg-3">
                                <textarea class="form-control" rows="3" cols="10" ng-model="accountDetail.Beneficiary.BankAddress" readonly></textarea>
                            </div>
                            <div class="col-sm-6 col-md-3 col-lg-3">
                                <textarea class="form-control modalInputWidth" rows="3" cols="10" ng-model="accountDetail.UltimateBeneficiary.BankAddress" ng-show="accountDetail.UltimateBeneficiaryType != 'Account Name'" readonly></textarea>
                            </div>
                        </div>
                        <p />
                    </div>
                </div>

                <div class="panel panel-default ng-show-hide" id="panelReceivingAccountSelector" ng-if="wireTicketObj.IsFundTransfer && WireTicket.ReceivingOnBoardAccountId != ''">
                    <div class="panel-heading" data-toggle="collapse" data-target="#receivingAccountDetailDiv" ng-click="collapseContainer('ReceivingAccount')" aria-expanded="false" aria-controls="receivingAccountDetailDiv">
                        <span class="">Receiving Account Details</span>&nbsp;&nbsp;<span class="label label-primary">{{ receivingAccountDetail.AccountNumber + " - " + receivingAccountDetail.AccountName }}</span>
                        <span class="glyphicon  pull-right" ng-class="{ 'glyphicon-chevron-right': !isReceivingAccountCollapsed , 'glyphicon-chevron-down': isReceivingAccountCollapsed }"></span>
                    </div>
                    <div id="receivingAccountDetailDiv" class="panel-body collapse">
                        <div class="row">
                            <div class="col-sm-12 col-md-9 col-lg-6">
                                <div class="col-sm-8 col-md-4 col-lg-4">
                                    <label class="control-label">Account Name </label>
                                </div>
                                <div class="col-sm-8 col-md-5 col-lg-5">
                                    <input type="text" class="form-control" ng-model="receivingAccountDetail.AccountName" readonly />
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-9 col-lg-6">
                                <div class="col-sm-8 col-md-4 col-lg-4">
                                    <label class="control-label">Account Number </label>
                                </div>
                                <div class="col-sm-8 col-md-5 col-lg-5">
                                    <input name="accountnumber" type="text" class="form-control" ng-model="receivingAccountDetail.AccountNumber" readonly />
                                </div>
                            </div>
                        </div>
                        <p />
                        <div class="row">
                            <div class="col-sm-12 col-md-9 col-lg-6">
                                <div class="col-sm-8 col-md-4 col-lg-4">
                                    <label class="control-label">Currency </label>
                                </div>
                                <div class="col-sm-8 col-md-5 col-lg-5">
                                    <input type="text" class="form-control" ng-model="receivingAccountDetail.Currency" readonly />
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-9 col-lg-6">
                                <div class="col-sm-8 col-md-4 col-lg-4">
                                    <label class="control-label">Description </label>
                                </div>
                                <div class="col-sm-8 col-md-5 col-lg-5">
                                    <input ng-model="receivingAccountDetail.Description" class="form-control control-label" readonly />
                                </div>
                            </div>
                        </div>
                        <p />
                        <div class="row">
                            <div class="col-sm-12 col-md-9 col-lg-6">
                                <div class="col-sm-8 col-md-4 col-lg-4">
                                    <label class="control-label">Cash Sweep</label>
                                </div>
                                <div class="col-sm-8 col-md-5 col-lg-5">
                                    <input ng-model="receivingAccountDetail.CashSweep" class="form-control control-label" readonly />
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-9 col-lg-6 cashSweepTimeDiv" ng-show="receivingAccountDetail.CashSweep == 'Yes'">
                                <div class="col-sm-8 col-md-4 col-lg-4">
                                    <label class="control-label">Cash Sweep Time</label>
                                </div>
                                <div class="col-sm-8 col-md-7 col-lg-7">
                                    <div class="col-sm-8 col-md-6 col-lg-6" style="padding-left: 0;">
                                        <input type="time" ng-model="receivingAccountDetail.CashSweepTime" name="cashSweepTime" class="form-control" readonly />
                                    </div>
                                    <div class="col-sm-8 col-md-4 col-lg-4" style="padding-left: 0; padding-right: 20px;">
                                        <input ng-model="receivingAccountDetail.CashSweepTimeZone" class="form-control control-label" readonly />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p />
                        <div class="row">
                            <div class="col-sm-12 col-md-9 col-lg-6">
                                <div class="col-sm-8 col-md-4 col-lg-4">
                                    <label class="control-label">Wire Portal Cutoff</label>
                                </div>
                                <div class="col-sm-8 col-md-6 col-lg-7">
                                    <div class="col-sm-8 col-md-6 col-lg-6" style="padding-left: 0;">
                                        <input type="time" name="cutOffTime" ng-model="receivingAccountDetail.WirePortalCutoff.CutoffTime" class="form-control" readonly />
                                    </div>
                                    <div class="col-sm-8 col-md-4 col-lg-4" style="margin-top: 5px; padding-left: 0;">
                                        <label class="label label-success" style="font-size: 12px; padding: 5px;">{{receivingAccountDetail.WirePortalCutoff.DaystoWire}} {{receivingAccountDetail.WirePortalCutoff.DaystoWire > 1 ? "Days" : "Day"}}</label>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-sm-12 col-md-9 col-lg-6">
                                <div class="col-sm-8 col-md-4 col-lg-4">
                                    <label class="control-label">FFC Name</label>
                                </div>
                                <div class="col-sm-8 col-md-5 col-lg-5">
                                    <input type="text" ng-model="receivingAccountDetail.FFCName" class="form-control control-label" readonly />
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-9 col-lg-6">
                                <div class="col-sm-8 col-md-4 col-lg-4">
                                    <label class="control-label">FFC Number</label>
                                </div>
                                <div class="col-sm-8 col-md-5 col-lg-5">
                                    <input type="text" ng-model="receivingAccountDetail.FFCNumber" class="form-control control-label" readonly />
                                </div>
                            </div>
                        </div>
                        <p />
                        <div class="row">
                            <div class="col-sm-12 col-md-9 col-lg-6">
                                <div class="col-sm-8 col-md-4 col-lg-4">
                                    <label class="control-label">Reference</label>

                                </div>
                                <div class="col-sm-8 col-md-5 col-lg-5">
                                    <input type="text" ng-model="receivingAccountDetail.Reference" class="form-control control-label" readonly />
                                </div>
                            </div>
                        </div>
                        <p />
                        <div class="row">
                            <div class="col-sm-12 col-md-9 col-lg-6">
                                <div class="col-sm-8 col-md-4 col-lg-4">
                                    <label class="control-label">Swift Group </label>
                                </div>
                                <div class="col-sm-8 col-md-5 col-lg-5">
                                    <input type="text" class="form-control" ng-model="receivingAccountDetail.SwiftGroup.SwiftGroup" readonly />
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-9 col-lg-6">
                                <div class="col-sm-8 col-md-4 col-lg-4">
                                    <label class="control-label">Sender BIC </label>
                                </div>
                                <div class="col-sm-8 col-md-5 col-lg-5">
                                    <input name="accountnumber" type="text" class="form-control" ng-model="receivingAccountDetail.SwiftGroup.SendersBIC" readonly />
                                </div>
                            </div>
                        </div>
                        <p />

                        <div class="row" style="padding-top: 10px;">
                            <div class="col-sm-6 col-md-3 col-lg-2">
                            </div>
                            <div class="col-sm-6 col-md-3 col-lg-3">
                                <span class="row font-primary">Intermediary:</span>
                            </div>
                            <div class="col-sm-6 col-md-3 col-lg-3">
                                <span class="row font-primary">Beneficiary:</span>
                            </div>
                            <div class="col-sm-6 col-md-3 col-lg-3">
                                <span class="row font-primary">Ultimate Beneficiary:</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-md-3 col-lg-2">
                                <label class="control-label" style="margin-left:15px;">Account Number</label>
                            </div>
                            <div class="col-sm-6 col-md-3 col-lg-3">
                                <input type="text" class="form-control" ng-model="receivingAccountDetail.IntermediaryAccountNumber" readonly />
                            </div>
                            <div class="col-sm-6 col-md-3 col-lg-3">
                                <input type="text" ng-model="receivingAccountDetail.BeneficiaryAccountNumber" class="form-control control-label" readonly />
                            </div>
                            <div class="col-sm-6 col-md-3 col-lg-3">
                                <input type="text" class="form-control" ng-model="receivingAccountDetail.AccountNumber" readonly />
                            </div>
                        </div>
                        <p />
                        <div class="row">
                            <div class="col-sm-6 col-md-3 col-lg-2">
                                <label class="control-label" style="margin-left:15px;">Type</label>
                            </div>
                            <div class="col-sm-6 col-md-3 col-lg-3">
                                <input type="text" class="form-control" ng-model="receivingAccountDetail.IntermediaryType" readonly />
                            </div>
                            <div class="col-sm-6 col-md-3 col-lg-3">
                                <input type="text" class="form-control" ng-model="receivingAccountDetail.BeneficiaryType" readonly />
                            </div>
                            <div class="col-sm-6 col-md-3 col-lg-3">
                                <input type="text" class="form-control" ng-model="receivingAccountDetail.UltimateBeneficiaryType" readonly />
                            </div>
                        </div>
                        <p />
                        <div class="row">
                            <div class="col-sm-6 col-md-3 col-lg-2">
                                <label class="control-label" style="margin-left:15px;">ABA/BIC</label>
                            </div>
                            <div class="col-sm-6 col-md-3 col-lg-3">
                                <input type="text" ng-model="receivingAccountDetail.Intermediary.BICorABA" class="form-control control-label" readonly />
                            </div>
                            <div class="col-sm-6 col-md-3 col-lg-3">
                                <input type="text" ng-model="receivingAccountDetail.Beneficiary.BICorABA" class="form-control control-label" readonly />
                            </div>
                            <div class="col-sm-6 col-md-3 col-lg-3">
                                <input type="text" ng-model="receivingAccountDetail.UltimateBeneficiary.BICorABA" ng-show="receivingAccountDetail.UltimateBeneficiaryType != 'Account Name'" class="form-control control-label" readonly />
                            </div>
                        </div>
                        <p />
                        <div class="row">
                            <div class="col-sm-6 col-md-3 col-lg-2">
                                <label class="control-label" style="margin-left:15px;">Bank/Account Name </label>
                            </div>
                            <div class="col-sm-6 col-md-3 col-lg-3">
                                <input type="text" ng-model="receivingAccountDetail.Intermediary.BankName" class="form-control control-label" readonly />
                            </div>
                            <div class="col-sm-6 col-md-3 col-lg-3">
                                <input type="text" ng-model="receivingAccountDetail.Beneficiary.BankName" class="form-control control-label" readonly />
                            </div>
                            <div class="col-sm-6 col-md-3 col-lg-3" ng-show="receivingAccountDetail.UltimateBeneficiaryType != 'Account Name'">
                                <input type="text" name="BankName" ng-model="receivingAccountDetail.UltimateBeneficiary.BankName" class="form-control control-label" readonly />
                            </div>
                            <div class="col-sm-6 col-md-3 col-lg-3" ng-show="receivingAccountDetail.UltimateBeneficiaryType == 'Account Name'">
                                <input type="text" ng-model="receivingAccountDetail.UltimateBeneficiaryAccountName" class="form-control control-label" readonly />
                            </div>
                        </div>
                        <p />
                        <div class="row">
                            <div class="col-sm-6 col-md-3 col-lg-2">
                                <label class="control-label" style="margin-left:15px;">Bank Address </label>
                            </div>
                            <div class="col-sm-6 col-md-3 col-lg-3">
                                <textarea class="form-control" rows="3" cols="10" ng-model="receivingAccountDetail.Intermediary.BankAddress" readonly></textarea>
                            </div>
                            <div class="col-sm-6 col-md-3 col-lg-3">
                                <textarea class="form-control" rows="3" cols="10" ng-model="receivingAccountDetail.Beneficiary.BankAddress" readonly></textarea>
                            </div>
                            <div class="col-sm-6 col-md-3 col-lg-3">
                                <textarea class="form-control modalInputWidth" rows="3" cols="10" ng-model="receivingAccountDetail.UltimateBeneficiary.BankAddress" ng-show="receivingAccountDetail.UltimateBeneficiaryType != 'Account Name'" readonly></textarea>
                            </div>
                        </div>
                        <p />
                    </div>
                </div>

                <div class="panel panel-default ng-show-hide" id="panelSSITemplateSelector" ng-if="!wireTicketObj.IsFundTransfer && !wireTicketObj.IsNotice && WireTicket.OnboardSSITemplateId != ''">
                    <div class="panel-heading" data-toggle="collapse" data-target="#ssiTemplateDetailDiv" ng-click="collapseContainer('SSITemplate')" aria-expanded="false" aria-controls="ssiTemplateDetailDiv">
                        <span class=""> Receiving Account Details</span>&nbsp;&nbsp;<span class="label label-primary prewrap">{{ ssiTemplate.AccountNumber + " - " + ssiTemplate.TemplateName }}</span>
                        <span class="glyphicon  pull-right" ng-class="{ 'glyphicon-chevron-right': !isSSITemplateCollapsed , 'glyphicon-chevron-down': isSSITemplateCollapsed }"></span>
                    </div>
                    <div class="panel-body collapse" id="ssiTemplateDetailDiv">
                        <div class="row">
                            <div class="col-sm-12 col-md-9 col-lg-6">
                                <div class="col-sm-8 col-md-4 col-lg-4">
                                    <label class="control-label">SSI Template Type</label>
                                </div>
                                <div class="col-sm-8 col-md-5 col-lg-5">
                                    <input type="text" class="form-control" ng-model="ssiTemplate.SSITemplateType" id="liSSITemplateType" readonly />
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-9 col-lg-6" ng-show="ssiTemplate.SSITemplateType == 'Broker'">
                                <div class="col-sm-8 col-md-4 col-lg-4">
                                    <label class="control-label">Broker <span style="color: red"> *</span></label>
                                </div>
                                <div class="col-sm-8 col-md-5 col-lg-5">
                                    <input type="text" class="form-control" ng-model="wireTicketObj.Counterparty" id="liBroker" readonly />
                                </div>
                            </div>
                        </div>
                        <p />
                        <div class="row">
                            <div class="col-sm-12 col-md-9 col-lg-6" ng-show="ssiTemplate.SSITemplateType == 'Fee/Expense Payment'">
                                <div class="col-sm-8 col-md-4 col-lg-4">
                                    <label class="control-label">Service Provider</label>
                                </div>
                                <div class="col-sm-8 col-md-5 col-lg-5">
                                    <input type="text" class="form-control" ng-model="ssiTemplate.ServiceProvider" id="liServiceProvider" readonly />
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-9 col-lg-6">
                                <div class="col-sm-8 col-md-4 col-lg-4">
                                    <label class="control-label">Currency</label>
                                </div>
                                <div class="col-sm-8 col-md-5 col-lg-5">
                                    <input type="text" class="form-control" ng-model="ssiTemplate.Currency" id="liCurrency" readonly />
                                </div>
                            </div>
                        </div>
                        <p />
                        <div class="row">
                            <div class="col-sm-12 col-md-9 col-lg-6">
                                <div class="col-sm-8 col-md-4 col-lg-4">
                                    <label class="control-label">Payment/Receipt Reason</label>
                                </div>
                                <div class="col-sm-8 col-md-5 col-lg-5">
                                    <input ng-model="ssiTemplate.ReasonDetail" class="form-control control-label" readonly />
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-9 col-lg-6 cashSweepTimeDiv" ng-show="ssiTemplate.OtherReason != null && ssiTemplate.OtherReason != ''">
                                <div class="col-sm-8 col-md-4 col-lg-4">
                                    <label class="control-label">Other Reason</label>
                                </div>
                                <div class="col-sm-8 col-md-5 col-lg-5">
                                    <input type="text" ng-model="ssiTemplate.OtherReason" class="form-control" readonly />
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-sm-12 col-md-9 col-lg-6">
                                <div class="col-sm-8 col-md-4 col-lg-4">
                                    <label class="control-label">FFC Name</label>
                                </div>
                                <div class="col-sm-8 col-md-5 col-lg-5">
                                    <input type="text" ng-model="ssiTemplate.FFCName" class="form-control control-label" readonly />
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-9 col-lg-6">
                                <div class="col-sm-8 col-md-4 col-lg-4">
                                    <label class="control-label">FFC Number</label>
                                </div>
                                <div class="col-sm-8 col-md-5 col-lg-5">
                                    <input type="text" ng-model="ssiTemplate.FFCNumber" class="form-control control-label" readonly />
                                </div>
                            </div>
                        </div>
                        <p />
                        <div class="row">
                            <div class="col-sm-12 col-md-9 col-lg-6">
                                <div class="col-sm-8 col-md-4 col-lg-4">
                                    <label class="control-label">Reference</label>

                                </div>
                                <div class="col-sm-8 col-md-5 col-lg-5">
                                    <input type="text" ng-model="ssiTemplate.Reference" class="form-control control-label" readonly />
                                </div>
                            </div>
                        </div>
                        <p />

                        <div class="row" style="padding-top: 10px;">
                            <div class="col-sm-6 col-md-3 col-lg-2">
                            </div>
                            <div class="col-sm-6 col-md-3 col-lg-3">
                                <span class="row font-primary">Intermediary:</span>
                            </div>
                            <div class="col-sm-6 col-md-3 col-lg-3">
                                <span class="row font-primary">Beneficiary:</span>
                            </div>
                            <div class="col-sm-6 col-md-3 col-lg-3">
                                <span class="row font-primary">Ultimate Beneficiary:</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-md-3 col-lg-2">
                                <label class="control-label" style="margin-left: 15px;">Account Number</label>
                            </div>
                            <div class="col-sm-6 col-md-3 col-lg-3">
                                <input type="text" class="form-control" ng-model="ssiTemplate.IntermediaryAccountNumber" readonly />
                            </div>
                            <div class="col-sm-6 col-md-3 col-lg-3">
                                <input type="text" ng-model="ssiTemplate.BeneficiaryAccountNumber" class="form-control" readonly />
                            </div>
                            <div class="col-sm-6 col-md-3 col-lg-3">
                                <input type="text" class="form-control" ng-model="ssiTemplate.AccountNumber" readonly />
                            </div>
                        </div>
                        <p />
                        <div class="row">
                            <div class="col-sm-6 col-md-3 col-lg-2">
                                <label class="control-label" style="margin-left:15px;">Type</label>
                            </div>
                            <div class="col-sm-6 col-md-3 col-lg-3">
                                <input type="text" class="form-control" ng-model="ssiTemplate.IntermediaryType" readonly />
                            </div>
                            <div class="col-sm-6 col-md-3 col-lg-3">
                                <input type="text" class="form-control" ng-model="ssiTemplate.BeneficiaryType" readonly />
                            </div>
                            <div class="col-sm-6 col-md-3 col-lg-3">
                                <input type="text" class="form-control" ng-model="ssiTemplate.UltimateBeneficiaryType" readonly />
                            </div>
                        </div>
                        <p />
                        <div class="row">
                            <div class="col-sm-6 col-md-3 col-lg-2">
                                <label class="control-label" style="margin-left: 15px;">ABA/BIC</label>
                            </div>
                            <div class="col-sm-6 col-md-3 col-lg-3">
                                <input type="text" ng-model="ssiTemplate.Intermediary.BICorABA" class="form-control control-label" readonly />
                            </div>
                            <div class="col-sm-6 col-md-3 col-lg-3">
                                <input type="text" ng-model="ssiTemplate.Beneficiary.BICorABA" class="form-control control-label" readonly />
                            </div>
                            <div class="col-sm-6 col-md-3 col-lg-3">
                                <input type="text" ng-model="ssiTemplate.UltimateBeneficiary.BICorABA" ng-show="ssiTemplate.UltimateBeneficiaryType != 'Account Name'" class="form-control control-label" readonly />
                            </div>
                        </div>
                        <p />
                        <div class="row">
                            <div class="col-sm-6 col-md-3 col-lg-2">
                                <label class="control-label" style="margin-left: 15px;">Bank/Account Name </label>
                            </div>
                            <div class="col-sm-6 col-md-3 col-lg-3">
                                <input type="text" ng-model="ssiTemplate.Intermediary.BankName" class="form-control control-label" readonly />
                            </div>
                            <div class="col-sm-6 col-md-3 col-lg-3">
                                <input type="text" ng-model="ssiTemplate.Beneficiary.BankName" class="form-control control-label" readonly />
                            </div>
                            <div class="col-sm-6 col-md-3 col-lg-3" ng-show="ssiTemplate.UltimateBeneficiaryType != 'Account Name'">
                                <input type="text" name="BankName" ng-model="ssiTemplate.UltimateBeneficiary.BankName" class="form-control control-label" readonly />
                            </div>
                            <div class="col-sm-6 col-md-3 col-lg-3" ng-show="ssiTemplate.UltimateBeneficiaryType == 'Account Name'">
                                <input type="text" ng-model="ssiTemplate.UltimateBeneficiaryAccountName" class="form-control control-label" readonly />
                            </div>
                        </div>
                        <p />
                        <div class="row">
                            <div class="col-sm-6 col-md-3 col-lg-2">
                                <label class="control-label" style="margin-left: 15px;">Bank Address </label>
                            </div>
                            <div class="col-sm-6 col-md-3 col-lg-3">
                                <textarea class="form-control" rows="3" cols="10" ng-model="ssiTemplate.Intermediary.BankAddress" readonly></textarea>
                            </div>
                            <div class="col-sm-6 col-md-3 col-lg-3">
                                <textarea class="form-control" rows="3" cols="10" ng-model="ssiTemplate.Beneficiary.BankAddress" readonly></textarea>
                            </div>
                            <div class="col-sm-6 col-md-3 col-lg-3">
                                <textarea class="form-control modalInputWidth" rows="3" cols="10" ng-model="ssiTemplate.UltimateBeneficiary.BankAddress" ng-show="ssiTemplate.UltimateBeneficiaryType != 'Account Name'" readonly></textarea>
                            </div>
                        </div>
                        <p />
                    </div>
                </div>

                <div class="panel panel-default" id="wireAttachment" ng-hide="WireTicket.WireStatusId >= 3 && WireTicket.hmsWireDocuments.length == 0">
                    <div class="panel-heading" data-toggle="collapse" ng-click="collapseContainer('Attachment')" data-target="#attachmentsDiv" aria-expanded="false" aria-controls="attachmentsDiv">
                        <span class="">Attachment</span>
                        <span class="glyphicon  pull-right" ng-class="{ 'glyphicon-chevron-right': !isAttachmentsCollapsed , 'glyphicon-chevron-down': isAttachmentsCollapsed }"></span>
                    </div>
                    <div class="panel-body collapse" id="attachmentsDiv">
                        <div class="">
                            <p />
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-12" ng-show="WireTicketStatus.IsEditEnabled">
                                    <div id="wireDropZone" style="width: 100%;">
                                        <form class="dropzone" enctype="multipart/form-data" id="uploadWireFiles" method="post" novalidate style="min-height: 60px !important;" />
                                    </div>
                                </div>
                            </div>
                            <br ng-show="WireTicketStatus.IsEditEnabled" />
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <table id="documentTable" class="table table-condensed table-bordered table-striped table-hover"><tfoot></tfoot></table>
                                </div>
                            </div>
                            <p />
                        </div>
                    </div>
                </div>

                <div class="panel panel-default" id="wireSourceModuleDetails" ng-show="WireSourceModuleDetails.IsSourceAvailable">
                    <div class="panel-heading" ng-click="collapseContainer('SourceModule')" data-toggle="collapse" data-target="#wireSourceDiv" aria-expanded="false" aria-controls="wireSourceDiv">
                        <span class="">Wire Source : {{ WireSourceModuleDetails.SourceModuleName }}</span>
                        <span class="glyphicon  pull-right" ng-class="{ 'glyphicon-chevron-right': !isWireSourceCollapsed , 'glyphicon-chevron-down': isWireSourceCollapsed }"></span>
                    </div>
                    <div class="panel-body collapse" id="wireSourceDiv" style="padding: 10px 15px 0px 15px; overflow-y: scroll; max-height: 270px; margin-bottom: 2px;">
                        <span id="spnWireSource">
                            <p class="messgeBlock" ng-show="WireSourceModuleDetails.AttachmentName!=''">
                                File Attachment:<a ng-click="fnDownloadWireSourceFile(WireSourceModuleDetails.SourceModuleName,WireSourceModuleDetails.AttachmentName,WireSourceModuleDetails.FileSource)">{{WireSourceModuleDetails.AttachmentName}}</a>
                            </p>
                            <p ng-repeat="(key, value) in WireSourceModuleDetails.Details" class="messgeBlock">
                                {{key}}:{{value}}
                            </p>
                            <p></p>
                        </span>
                    </div>
                </div>


                <div class="panel panel-default" id="wireWorkFlowLogs" ng-show="WireTicket.hmsWireWorkflowLogs.length > 0">
                    <div class="panel-heading" ng-click="collapseContainer('Workflow')" data-toggle="collapse" data-target="#wireWorkflowLogsDiv" aria-expanded="false" aria-controls="wireWorkflowLogsDiv">
                        <span class="">Workflow Logs {{ " (" + WireTicket.hmsWireWorkflowLogs.length + ")" }}</span>
                        <span class="glyphicon  pull-right" ng-class="{ 'glyphicon-chevron-right': !isWorkflowLogsCollapsed , 'glyphicon-chevron-down': isWorkflowLogsCollapsed }"></span>
                    </div>
                    <div class="panel-body collapse" id="wireWorkflowLogsDiv" style="padding: 10px 15px 0px 15px; overflow-y: scroll; max-height: 270px; margin-bottom: 2px;">
                        <span id="spnWireLogs">
                            <ul class="milestones  milestones-bordered">
                                <li ng-repeat="wireLog in WireTicket.hmsWireWorkflowLogs">
                                    <i class="milestone-default glyphicon {{getWireLogStatusIcon(wireLog, $index)}}"></i>
                                    <div class="panel panel-default">
                                        <div class="panel-heading panel-arrow" style="text-transform: initial; font-size: 12px; border-top: 2px !important; padding: 5px 10px;">
                                            <span> {{ workflowUsers[$index] + " " }} <span id="workflowStatus_{{$index}}" style="font-size:13px;"><b> {{ getWireLogStatus(wireLog, $index) }} </b></span> {{ getWireLogText(wireLog) }}</span>
                                        </div>
                                        <div class="panel-body" ng-show="wireLog.Comment.length > 0" style="padding: 6px 10px;">{{ wireLog.Comment }}</div>
                                    </div>
                                </li>
                            </ul>
                        </span>
                    </div>
                </div>

                <div class="panel panel-default ng-show-hide" id="wireSwiftMessages" data-toggle="collapse" ng-show="IsSwiftMessagesPresent">
                    <div class="panel-body" style="cursor: pointer;padding:0px 15px 5px 15px;" ng-click="fnToggleCollapeSwiftMessagePanel()">
                        <span style="margin-top: 20px;position: fixed;text-transform: uppercase;">
                            Swift Messages :
                            &nbsp;<button class="btn btn-default btn-xs ng-show-hide" ng-hide="SwiftFormatMessageActiveTag==''" ng-click="fnPrintSwiftMessage($event)"><i class="glyphicon glyphicon-print"></i>&nbsp;Print</button>
                            &nbsp;<button class="btn btn-default btn-xs ng-show-hide" ng-hide="SwiftFormatMessageActiveTag==''" ng-click="fnCopySwiftMessageToClipboard($event)"><i class="glyphicon glyphicon-copy"></i>&nbsp;Copy to Clipboard</button>
                        </span>
                        <ol class="status-track" style="text-align: center;    padding-bottom: 0px;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    ">
                            <li class="{{value.OriginalFinMsg ==''?'status-track-todo': key.indexOf('N-Ack')>=0 ? 'status-track-failed' : 'status-track-done'}}" ng-class="{'status-active': SwiftFormatMessageActiveTag==key}" ng-repeat="(key, value) in wireTicketObj.SwiftMessages" ng-click="fnShowFormattedSwiftMsg($event,key,value)">{{key}}</li>
                        </ol>
                        <span class="glyphicon  pull-right" style="top:-15px" ng-class="{ 'glyphicon-chevron-right': !isSwiftMessagesCollapsed , 'glyphicon-chevron-down': isSwiftMessagesCollapsed }"></span>
                    </div>
                    <div class="panel-body collapse" id="wireSwiftMessagesDiv" style="padding: 2px 15px 0px 15px; overflow-y: scroll; max-height: 270px; margin-bottom: 2px;">
                        <p class="ng-show-hide swiftMessgeBlock originalFINMessage" ng-animate-swap="TrustedSwiftFINMessage">{{TrustedSwiftFINMessage}}</p>
                        <p class="ng-show-hide swiftMessgeBlock" ng-animate-swap="TrustedSwiftMessage">{{TrustedSwiftMessage}}</p>
                    </div>
                </div>
            </div>

            <div class="modal-footer form-inline">
                <div class="panel panel-heading collapse wireError" id="wireErrorStatus" data-toggle="collapse" style="background: #F5F5F5;text-transform: inherit; font-size:13px;">
                    <p style="color: darkred; font-weight:bold;"> {{ validationMsg }}</p>
                    <div class="active" data-toggle="buttons" id="wireCreationDiv" ng-show="isWireCreated">
                        <input id="chkWireCreation" type="checkbox" data-width="60" data-height="30" data-onstyle="btn btn-sm btn-success" data-offstyle="btn btn-sm btn-default" data-toggle="toggle" data-on="Yes" data-off="No">
                        &nbsp;<span>I understand and wish to initiate this wire.</span>
                    </div>
                </div>
                <textarea type="text" placeholder="Enter Comments" id="wireComment" ng-model="wireComments" class="form-control" rows="2" style="width:50%;float:left;"></textarea>
                <button id="draftWire" type="button" class="btn btn-sm btn-warning ng-show-only" title="Save" ng-disabled="isMandatoryFieldsMissing || !isWireRequirementsFilled || !isValidWireInitiation || isUserActionDone" ng-if="WireTicketStatus.IsDraftEnabled" ng-click="fnUpdateWireWithStatus(1)" style="vertical-align:-webkit-baseline-middle;" data-loading-text="<i class='glyphicon glyphicon-refresh icon-rotate'></i>&nbsp;<span class='statusFill'>{{ WireTicketStatus.IsLastModifiedUser ?  'Modifying' : 'Reverting to Draft' }}...</span>">
                    <i class="glyphicon glyphicon-floppy-save"></i>&nbsp;{{ WireTicketStatus.IsLastModifiedUser ? "Modify" : "Save as Draft" }}
                </button>
                <button id="initiateWire" type="button" class="btn btn-sm btn-primary ng-show-only" title="Save" ng-disabled="isMandatoryFieldsMissing || !isWireRequirementsFilled || !isValidWireInitiation || isUserActionDone" ng-if="WireTicketStatus.IsEditEnabled" ng-click="fnUpdateWireWithStatus(2)" style="vertical-align:-webkit-baseline-middle;" data-loading-text="<i class='glyphicon glyphicon-refresh icon-rotate'></i>&nbsp;<span class='statusFill'>Initiating...</span>">
                    <i class="glyphicon glyphicon-open"></i>&nbsp;{{ getInitiateButtonText() }}
                </button>
                <button id="holdWire" type="button" class="btn btn-sm btn-info ng-show-only" title="Save" ng-if="WireTicketStatus.IsWireStatusInitiated" ng-click="fnUpdateWireWithStatus(6)" style="vertical-align:-webkit-baseline-middle;" data-loading-text="<i class='glyphicon glyphicon-refresh icon-rotate'></i>&nbsp;<span class='statusFill'>Holding...</span>">
                    <i class="glyphicon glyphicon-ban-circle"></i>&nbsp;Hold
                </button>
                <button id="unHoldWire" type="button" class="btn btn-sm btn-info ng-show-only" title="Save" ng-if="WireTicketStatus.IsWireStatusOnHold" ng-click="fnUpdateWireWithStatus(2)" style="vertical-align:-webkit-baseline-middle;" data-loading-text="<i class='glyphicon glyphicon-refresh icon-rotate'></i>&nbsp;<span class='statusFill'>Un holding...</span>">
                    <i class="glyphicon glyphicon-exclamation-sign"></i>&nbsp;Un-Hold and {{getInitiateButtonText()}}
                </button>
                <button id="approveWire" type="button" class="btn btn-sm btn-success ng-show-only" title="Approve" ng-disabled="isUserActionDone" ng-if="WireTicketStatus.IsAuthorizedUserToApprove" ng-click="fnUpdateWireWithStatus(3)" style="vertical-align:-webkit-baseline-middle;" data-loading-text="<i class='glyphicon glyphicon-refresh icon-rotate'></i>&nbsp;<span class='statusFill'>Approving...</span>">
                    <i class="glyphicon glyphicon-ok-sign"></i>&nbsp;Approve
                </button>
                <button id="cancelWire" type="button" class="btn btn-sm btn-info ng-show-only cancelWire" ng-disabled="isUserActionDone" ng-if="WireTicketStatus.IsCancelEnabled" ng-click="confirmCancellation()" style="vertical-align:-webkit-baseline-middle;" data-loading-text="<i class='glyphicon glyphicon-refresh icon-rotate'></i>&nbsp;<span class='statusFill'>{{ getCancelButtonText(true) }}...</span>">
                    <i class="glyphicon glyphicon-repeat"></i>&nbsp;{{ getCancelButtonText(false) }}
                </button>
                <a href="#" class="btn btn-sm btn-default" style="vertical-align:-webkit-baseline-middle;" data-dismiss="modal">Dismiss</a>
                <br />
            </div>
        </div>
    </div>
</div>
