@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<legend>Error</legend>


<div class="error-block">
    <p style="font-size: 15px;">
        Something went wrong.
    </p>
</div>


<div class="panel panel-danger">

    <div class="panel-body">
        Please report this problem to the Dev Team for alternate solutions
        @Html.DisplayFor(x => x.Exception)
    </div>
</div>