@{
    Layout = "../Shared/_Layout.cshtml";
    ViewBag.Title = "Audits";
}

<div ng-controller="UserAuditsLogsCtrl">
    <div class="row-fluid">
        <h4 style="display: inline-block">User Audits/</h4>
        <span id="userAuditLogDateRange" class="dateRangeSelector">
            <i class="glyphicon glyphicon-calendar"></i>&nbsp;
            <span></span><b class="caret" style="padding-bottom: 1px;"></b>
        </span>
        &nbsp;<h4 style="display: inline-block">/</h4>&nbsp;
        <button class="btn btn-default btn-sm btn-primary" ng-click="fnGetUserAuditLogs()" data-loading-text="<i class='glyphicon glyphicon-refresh icon-rotate'></i> Loading..."><i class="glyphicon glyphicon-refresh"></i>&nbsp;Get Logs</button>
        <hr class="dashHr" />
    </div>
    <div class="row-fluid panel-body">
        <table id="tblAuditLogsDetails" class="table table-condensed table-hover"><tfoot></tfoot></table>
    </div>
</div>

@section Javascript{
    <script src="~/Scripts/OpsSecure/UserAuditLog.js"></script>
}