@{
    Layout = "../Shared/_Layout.cshtml";
    ViewBag.Title = "MQ Logs";
}

<div ng-controller="MQLogsCtrl">

    <h4 style="display: inline-block">Inbound/Outbound MQ Logs /</h4>
    <span id="inboundLogDateRange" class="dateRangeSelector">
        <i class="glyphicon glyphicon-calendar"></i>
        <span></span>&nbsp;<b class="caret" style="padding-bottom: 1px;"></b>
    </span>
    <h4 style="display: inline-block">/</h4>&nbsp;
    <button id="btnGetInboundLogs" class="btn btn-default btn-sm btn-primary" ng-click="fnGetInboundLogs()" data-loading-text="<i class='glyphicon glyphicon-refresh icon-rotate'></i> Loading..."><i class="glyphicon glyphicon-refresh"></i>&nbsp;Get Logs</button>
    <hr class="dashHr" />

    <div class="panel">
        <div class="panel-body">
            <table id="tblInboundLogsDetails" class="table"><tfoot></tfoot></table>
        </div>
    </div>
</div>

@section Javascript{
    <script src="~/Scripts/OpsSecure/MQLog.js"></script>
}