@using HM.Operations.Secure.Web.Utility
@using Web.Util
@{
    ViewBag.Title = "Swift Groups";
}

<legend>Swift Groups</legend>

<div id="swiftGroupsDiv" ng-controller="SwiftGroupCtrl">
    <div class="panel panel-default">
        <div class="panel-heading">
            @if (User.IsWireUser())
            {
                <button ng-click="fnAddOrUpdateSwiftGroup(true)" id="btnAddSwiftGroup" class="btn btn-success btn-sm" data-loading-text="<i class='glyphicon glyphicon-refresh icon-rotate'></i> Loading..."><i class="glyphicon glyphicon-plus"></i>&nbsp; Add Swift Group</button>
            }
            <div class="btn-group">
                &nbsp;&nbsp;
                @if (User.IsWireUser())
                {
                    <button class=" btn btn-primary btn-sm" id="btnEdit" ng-disabled="!enableSwiftGroupActions" ng-click="fnAddOrUpdateSwiftGroup(false)">
                        <i class="glyphicon glyphicon-edit"></i>&nbsp;Edit
                    </button>
                    if (User.IsWireApprover())
                    {
                        <button class="btn btn-danger btn-sm" id="btnDel" ng-disabled="!enableSwiftGroupActions" ng-click="fnDeleteSwiftGroup()"><i class="glyphicon glyphicon-trash"></i>&nbsp;Delete </button>
                    }
                }
                <a class="btn btn-sm btn-default" ng-click="$event.stopPropagation();fnExportData()"><i class="glyphicon glyphicon-download-alt"></i>&nbsp;Export</a>
            </div>

        </div>
        <div class="panel-body">
            <table id="tblSwiftGroupData" class="table table-condensed table-bordered table-striped table-hover"><tfoot></tfoot></table>
        </div>
    </div>

    <div class="modal fade" id="swiftGroupModal" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <form name="swiftGroupForm" class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4>Swift Group Details</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-8 col-md-3 col-lg-3">
                            <label for="swiftGroup" class="control-label">Swift Group:</label>
                        </div>
                        <div class="col-sm-8 col-md-3 col-lg-5">
                            <input type="text" required id="swiftGroup" ng-model="swiftGroup.SwiftGroup.SwiftGroup" maxlength="150" class="modalInputWidth form-control" />
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-8 col-md-3 col-lg-3">
                            <label for="liBrokerEntity" class="control-label">Broker Legal Entity:</label>
                        </div>
                        <div class="col-sm-8 col-md-6 col-lg-5">
                            <input type="text" required id="liBrokerEntity" ng-model="swiftGroup.SwiftGroup.BrokerLegalEntityId" class="modalInputWidth dropDown form-control" placeholder="Select a Broker" />
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-3">
                            <label for="sendersBIC" class="control-label">Sender's BIC:</label>
                        </div>
                        <div class="col-md-5">
                            <input type="text" id="sendersBIC" ng-keyup="fnChangeSwiftGroupStatus()" data-toggle="tooltip" data-placement="right" title="only alpha-numeric and between 8 to 11 characters allowed" maxlength="11" required pattern="^[A-Za-z0-9]{8,11}$" autocomplete="false" style="text-transform: uppercase;" minlength="8" ng-model="swiftGroup.SwiftGroup.SendersBIC" class="modalInputWidth form-control" />
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-8 col-md-3 col-lg-3">
                            <label for="liSwiftGroupStatus" class="control-label">Status:</label>
                        </div>
                        <div class="col-sm-8 col-md-6 col-lg-5">
                            <input type="text" required id="liSwiftGroupStatus" ng-model="swiftGroup.SwiftGroup.SwiftGroupStatusId" class="modalInputWidth dropDown form-control" placeholder="Select a Status" />
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-8 col-md-3 col-lg-3">
                            <label for="liMessageTypes" class="control-label">MT Messages:</label>
                        </div>
                        <div class="col-sm-8 col-md-6 col-lg-5">
                            <input type="text" required id="liMessageTypes" ng-model="swiftGroup.SwiftGroup.AcceptedMessages" class="modalInputWidth dropDown form-control" placeholder="Select Message Type(s)" />
                        </div>
                    </div>
                    <br />
                    <div class="row" ng-hide="!IsCancelledMessageType">
                        <div class="col-sm-8 col-md-3 col-lg-3">
                            <label class="control-label">Allow Wire Cancellation</label>
                        </div>
                        <div class="col-sm-8 col-md-6 col-lg-5">
                            <input id="chkIsAllowWireCancellation" ng-model="swiftGroup.SwiftGroup.IsAllowWireCancellation" type="checkbox" data-size="mini" data-width="50" data-height="25" data-onstyle="btn btn-xs btn-danger" data-offstyle="btn btn-xs btn-success" data-toggle="toggle" data-off="No" data-on="Yes">
                        </div>                        
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-8 col-md-3 col-lg-3">
                            <label for="notes" class="control-label">Notes:</label>
                        </div>
                        <div class="col-sm-8 col-md-6 col-lg-5">
                            <textarea id="notes" ng-model="swiftGroup.SwiftGroup.Notes" class="form-control" placeholder="Enter Notes"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    @if (User.IsWireUser())
                    {
                        <button type="button" ng-click="fnSaveSwiftGroup()" class="btn btn-sm btn-primary" ng-disabled="swiftGroupForm.$invalid">
                            <i class="glyphicon glyphicon-floppy-save"></i>&nbsp;Save Swift Group
                        </button>
                    }
                    <a href="#" class="btn btn-sm btn-default" data-dismiss="modal">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>


@section javascript
{
    <script type="text/javascript" src=@("~/Scripts/OpsSecure/SwiftGroup.js".GetModifiedStaticFileUrl())></script>
}