<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HedgeMark.Secret.Management.Services" version="1.0.0.19" targetFramework="net48" />
  <package id="Kerberos.NET" version="4.5.115" targetFramework="net48" />
  <package id="log4net" version="2.0.12" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="5.0.0" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.JsonWebTokens" version="6.12.0" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Logging" version="6.12.0" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Tokens" version="6.12.0" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.IdentityModel.Tokens.Jwt" version="6.12.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.4" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net48" />
  <package id="System.Security.Cryptography.Pkcs" version="5.0.1" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
</packages>