@using Web.Util
@{
    Layout = "../Shared/_Layout.cshtml";
    ViewBag.Title = "Audits";
}

<div ng-controller="UserAuditsLogsCtrl">
    <div class="row-fluid">
        <h4 style="display: inline-block">User Audits&nbsp;/</h4>
        <span id="userAuditLogDateRange" class="dateRangeSelector">
            <i class="glyphicon glyphicon-calendar"></i>&nbsp;
            <span></span><b class="caret" style="padding-bottom: 1px;"></b>
        </span>
        &nbsp;<h4 style="display: inline-block">/</h4>&nbsp;
        <button id="btnGetAuditLogs" class="btn btn-sm btn-primary" ng-click="fnGetAuditLogs()" data-loading-text="<i class='glyphicon glyphicon-refresh icon-rotate'></i> Loading..."><i class="glyphicon glyphicon-refresh"></i>&nbsp;Get Logs</button>
        <hr class="dashHr" />
    </div>
    <ul class="nav nav-tabs" data-tabs="tabs" id="ulAuditTab">
        <li ng-class="{active:isUserAuditsActive }"><a href="#auditContainer" data-toggle="tab" ng-click="navigateAuditTabs(true)">Audits</a></li>
        <li ng-class="{active:!isUserAuditsActive }"><a href="#uploadContainer" data-toggle="tab" ng-click="navigateAuditTabs(false)">Bulk Uploads</a></li>
    </ul>
    <div class="tab-content" id="contentTabs">
        <div class="tab-pane" id="auditContainer" ng-class="{active:isUserAuditsActive }">
            <div class="panel">
                <div class="panel-body">
                    <table id="tblAuditLogsDetails" class="table table-bordered table-striped table-condensed table-hover"><tfoot></tfoot></table>
                </div>
            </div>
        </div>
        <div class="tab-pane panel" id="uploadContainer" ng-class="{active:!isUserAuditsActive }">


            <div class="container">
                <div class="btn-group btn-group-sm" data-toggle="buttons-radio" id="ulUploadTab" style="padding-top: 15px;">
                    <a ng-class="{active:isFundAccountLog }" href="#accountContainer" class="btn btn-sm btn-default" data-toggle="tab" ng-click="navigateUploadTabs(true)"> Fund Account</a>
                    <a ng-class="{active:!isFundAccountLog }" href="#accountContainer" class="btn btn-sm btn-default" data-toggle="tab" ng-click="navigateUploadTabs(false)"> SSI Template</a>
                </div>
            </div>
            <div class="tab-content" id="contentUploadTabs">
                <div class="tab-pane" id="accountContainer" ng-class="{active:isFundAccountLog }">
                    <div class="panel-body" style="padding-top: 5px">
                        <table id="tblAccountUploadDetails" class="table table-bordered table-striped table-condensed table-hover"><tfoot></tfoot></table>
                    </div>
                </div>
                <div class="tab-pane" id="ssiTemplateContainer" ng-class="{active:!isFundAccountLog }">
                    <div class="panel-body" style="padding-top: 5px">
                        <table id="tblSSITemplateUploadDetails" class="table table-bordered table-striped table-condensed table-hover"><tfoot></tfoot></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Javascript{
    <script type="text/javascript" src=@("~/Scripts/OpsSecure/UserAuditLog.js".GetModifiedStaticFileUrl())></script>
}


