<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CronExpressionDescriptor" version="2.16.0" targetFramework="net46" />
  <package id="Cronos" version="0.7.0" targetFramework="net46" />
  <package id="EntityFramework" version="6.4.0" targetFramework="net46" />
  <package id="Kent.Boogaart.HelperTrinity" version="2.0.1" targetFramework="net452" />
  <package id="Kent.Boogaart.KBCsv" version="1.4.0.0" targetFramework="net452" />
  <package id="log4net" version="2.0.8" targetFramework="net46" />
  <package id="NCrontab" version="3.3.1" targetFramework="net46" />
</packages>