<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <section name="entityFramework"
    type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
    requirePermission="false"/>
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <connectionStrings>

	  <add name="AdminContext" connectionString="metadata=res://*/AdminModel.csdl|res://*/AdminModel.ssdl|res://*/AdminModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=vmwclnsqldusc01;Initial Catalog=HM;user id=IC_HM_SQL_Dev;password=F7gG#vBkEZ65;persist security info=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"  />
	  <add name="OperationsContext" connectionString="metadata=res://*/OperationsContext.csdl|res://*/OperationsContext.ssdl|res://*/OperationsContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=vmwclnsqldusc01;Initial Catalog=DMA_HM;user id=IC_HM_SQL_Dev;password=F7gG#vBkEZ65;persist security info=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	  <add name="OperationsSecureContext" connectionString="metadata=res://*/OperationsSecureModel.csdl|res://*/OperationsSecureModel.ssdl|res://*/OperationsSecureModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=vmwclnsqldusc01;Initial Catalog=HM_WIRES;user id=IC_HM_SQL_Dev;password=F7gG#vBkEZ65;persist security info=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
</configuration>
