@{
    ViewBag.Title = "Wires Dashboard";
}

<legend>@ViewBag.Title</legend>
<input type="hidden" id="hdnReportName" value="Wires" />

<div ng-controller="wiresDashboardCtrl">
    @Html.Partial("_DashboardReport")

    <div class="panel-body row collapse" style="margin-top: 10px; padding: 5px;" id="pnlDashboardReports">
        <table class="table table-condensed table-striped table-responsive table-hover table-bordered" id="tblWireLogReport"></table>
    </div>
</div>

@section Javascript{
    <script type="text/javascript" src="~/Scripts/OpsSecure/Commons/DashboardReport.js"></script>
    <script type="text/javascript" src="~/Scripts/OpsSecure/Commons/Schedules.js"></script>
    <script type="text/javascript" src="~/Scripts/OpsSecure/WiresDashboard.js"></script>
}