
@{
    ViewBag.Title = "User Operations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <legend>Authorized Signatory List</legend>
<div ng-controller="wireUsersCtrl" class="container-fluid">

    <div class="btn-group" data-toggle="buttons">
        <button class="btn btn-default btn-sm active" data-column="3" ng-click="fnGroupResultsByColumn('UserGroup')">
            <input type="radio" name="options" id="option1" checked> Group by Teams
        </button>
        <button class="btn btn-default btn-sm" data-column="4" ng-click="fnGroupResultsByColumn('Role')">
            <input type="radio" name="options" id="option2"> Group by Roles
        </button>
    </div>
    <button class="btn btn-sm btn-primary" id="btnRefreshUserList" data-loading-text="<i class='glyphicon glyphicon-refresh glyphicon icon-rotate'></i>&nbsp;Refreshing..." ng-click="fnRefreshUserList()"><i class="glyphicon glyphicon-repeat"></i>&nbsp;Refresh User List</button>
    <span class="btn-group">
        <button class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-download-alt"></i>&nbsp; Export as PDF&nbsp;&nbsp;<span class="caret"></span></button>
        <ul class="dropdown-menu" style="font-size: 12px;">
            <li title="All Groups" ng-click="fnExportReport('All_Groups')"><a href="#">All Groups</a></li>
            <li title="Group A Only" ng-click="fnExportReport('Group_A_only')"><a href="#">Group A Only</a></li>
            <li title="Group B Only" ng-click="fnExportReport('Group_B_only')"><a href="#">Group B Only</a></li>
        </ul>
    </span>
    <table id="tblUserDetails" class="table table-hover table-bordered table-striped" style="background: white; cursor: pointer;"></table>
</div>
@section Javascript{
    <script src="~/Scripts/OpsSecure/WireUsers.js"></script>
}
