.border {
    position: relative;
    margin: 5px;
    padding: 15px;
    /*background-color: #fff;*/
    -webkit-box-shadow: 0 0 5px rgb(139, 213, 236);
    border: 1px solid #ddd;
    border-radius: 4px;
}

.center {
    position: fixed;
    left: 30%;
    top: 30%;
}

.shadow {
    -webkit-box-shadow: 0 0 15px rgba(158, 110, 9, 0.73);
}


.tdHeading {
    font-weight: bold;
}

.sub-header-legend {
    font-size: 15px;
    padding-top: 10px;
    margin-top: 10px;
    padding-bottom: 3px !important;
}


.closeIcon {
    position: absolute;
    top: 2px;
    right: 2px;
    float: right;
    background-color: #ebebeb !important;
}

.dashBoardTile {
    background: white;
    /*background: -webkit-linear-gradient(top, rgba(226, 226, 226, 1) 0%, rgba(219, 219, 219, 1) 50%, rgba(209, 209, 209, 1) 51%, rgba(254, 254, 254, 1) 100%);*/
}

.dashBoardTileDescription {
    font-size: 11px;
}

.dashBoardHeader {
    font-size: 13px;
    font-weight: normal;
    /*line-height: 2;*/
    color: white;
    text-align: center;
}

.dashBoardCaption {
    padding: 1px 9px !important;
    margin-bottom: 0px;
}

    .dashBoardCaption h1 {
        margin-top: 15px;
        margin-bottom: 5px;
    }

    .dashBoardCaption label {
        font-size: 30px;
    }

.dashboardIcon {
    font-size: 55px;
    opacity: 0.1;
    color: inherit;
    /*padding-left: 180px;
    padding-top: 25px;*/
    position: absolute;
    /* margin: 0px; */
    right: 30px;
    top: 20px;
    /*text-align: center;
    display: table-cell;
    margin: 1.5%;
    font-size: 26px;
    color: white;
    width: 50px;
    border-radius: 50%;
    height: 50px;
    vertical-align: middle;*/
}


.dashDatepicker {
    padding-left: 3.6%;
}

    .dashDatepicker > h6 {
        margin: 0px;
        margin-bottom: -3px;
        /*font-size: 13px;*/
        /*position: fixed;*/
    }

    .dashDatepicker > span {
        display: inline-block;
    }

        .dashDatepicker > span > h3 {
            margin-top: 3px;
            margin-bottom: 3px;
            cursor: pointer;
        }

    .dashDatepicker > i {
        font-size: 25px;
        cursor: pointer;
    }

.dashDatePrev {
    padding: 0px 30px;
    cursor: pointer;
}

.dashDateNext {
    padding: 0px 100px;
    cursor: pointer;
}


.dashDateNavDisabled {
    color: darkgray;
}

.dashHr {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    border-top: 2px solid #eeeeee;
}

.reportHeader {
    font-size: 13px;
    font-weight: normal;
    line-height: 2;
    color: white;
    text-align: center;
    /*text-transform: uppercase;*/
}



.caption p {
    color: white;
    height: 75px;
    text-align: center;
}

#loading,
#loadingPleaseWait {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: fixed;
    display: block;
    opacity: 0.7;
    background-color: #fff;
    z-index: 2000;
    text-align: center;
    cursor: wait;
}

.loading-image {
    z-index: 2050;
}

.shadowBox {
    box-shadow: 10px 10px 15px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3);
}

.shadowBoxSelect {
    box-shadow: 0px 10px 5px -20px rgba(0, 0, 0, 0.5), 0 0px 10px rgba(0, 0, 0, 0.3);
}



.shadowBoxIntense {
    box-shadow: 10px 10px 10px -40px rgba(0, 0, 0, 0.8), 0 3px 8px rgba(0, 0, 0, 0.6);
}


.shadowBoxSuccess {
    box-shadow: 10px 10px 15px -10px green, 0 1px 4px #43B02A;
}

.shadowBoxWarning {
    box-shadow: 10px 10px 15px -10px #107A83, 0 1px 15px yellow;
}


/*.ellipsis-table td {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}*/

/* The below styles for Datatables integration */

.dt-tool-box {
    padding-top: 10px;
}

.htFilterSearch,
.dataTables_filter input[type="search"] {
    padding-right: 14px;
    padding-left: 14px;
    border-radius: 15px;
    width: 100px !important;
    margin-left: 0.0em !important;
    -webkit-transition: width .2s ease-out !important;
}

    .htFilterSearch:hover, .htFilterSearch:focus,
    .dataTables_filter input[type="search"]:hover, .dataTables_filter input[type="search"]:focus {
        width: 200px !important;
        /*-webkit-transition: width .2s ease-out !important;*/
        opacity: 1 !important;
    }

.htFilterSearch {
    /*width: 100px !important;*/
    height: 28px;
}

form.dz-drag-hover {
    border-color: #107A83;
    border-style: dashed !important;
}


.success-square {
    height: 15px;
    width: 15px;
    background-color: #dff0d8;
    border: 1px solid;
}

.warning-square {
    height: 15px;
    width: 15px;
    background-color: #fcf8e3;
    border: 1px solid;
}

.dz-infobtn {
    position: absolute;
    top: 6px;
    right: 25px;
    font-size: 13px;
}

.dz-infotext {
    position: absolute;
    bottom: 6px;
    right: 25px;
    font-size: 13px;
}

div.dataTables_info {
    padding-top: 20px !important;
    padding-left: 5px;
    font-style: italic;
}


table.dataTable thead th {
    overflow: hidden;
    white-space: nowrap;
    vertical-align: top;
    text-overflow: ellipsis;
}

table.dataTable tbody td {
    padding: 5px 5px 5px 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


.dataTables_empty {
    text-align: center !important;
}

/*table.dataTable thead th {
    overflow: hidden;
    white-space: nowrap;
    vertical-align: top;
    padding-top: 5px;
    padding-bottom: 5px;
    text-overflow: ellipsis;
    font-size: 13px;
    font-weight: bold;
    height: 20px;
    line-height: 20px;
}

table.dataTable tbody td {
    padding: 5px 5px 5px 5px !important;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}*/

/*.table th {
    background-color: #e7e7e7;
}

.table th,
.table td {
    border: 1px solid #d6d4d4 !important;
}*/


.table > thead > tr.titleRow > td {
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
}


.handsontable .htAutocompleteArrow {
    color: lightgray;
}


/*.dz-message span {
    font-size: 15px;
    font-weight: normal;
    font-style: italic;
}

ng-form.dropzone {
    display: block;
    min-height: 1px;
    padding: 3px 15px;
}

.panel-dz {
    width: 200px;
}*/

/*table.dataTable th:active {
    outline: none;
}

table.dataTable thead th {
    border-bottom: 0px;
}*/






/*body {
    height: 100%;
    line-height: 18px;
    padding-top: 20px;
    padding-bottom: 20px;
}*/

.preview-container {
    pointer-events: none;
    width: 110px;
    height: 100px;
    overflow: hidden;
    position: fixed;
    top: -7px;
    left: -29px;
    z-index: 90;
}

.preview-text {
    font-family: monospace;
    font-weight: bold;
    font-size: large;
    text-align: center;
    text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    position: relative;
    padding: 7px 0;
    left: -5px;
    top: 15px;
    width: 120px;
    background-color: #BFDC7A;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45));
    background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45);
    background-image: -moz-linear-gradient(top, #BFDC7A, #8EBF45);
    background-image: -ms-linear-gradient(top, #BFDC7A, #8EBF45);
    background-image: -o-linear-gradient(top, #BFDC7A, #8EBF45);
    color: #6a6340;
    box-shadow: 0px -3px 3px rgba(0,0,0,0.3);
}

.ribbon-green:before, .ribbon-green:after {
    content: "";
    border-top: 3px solid #6e8900;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    position: absolute;
    bottom: -3px;
}

.ribbon-green:before {
    left: 0;
}

.ribbon-green:after {
    right: 0;
}

.hm-top-links img {
    width: 16px;
    height: 16px;
    margin-left: 20px;
}

.hm-top-links a {
    font-size: smaller;
}

.main-modules .col-sm-3 {
    height: 212px;
    width: 225px;
    margin: 20px;
}

.main-modules .btn {
    margin-left: 65px;
    margin-top: 165px;
}

@media (min-width: 992px) {
    .body-container {
        width: 90%;
    }
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
    min-height: 300px;
}

.navbar-brand {
    padding-left: 10px;
    padding-right: 10px;
}

.navbar-icon {
    padding-top: 13px !important;
    padding-left: 10px;
    padding-right: 10px;
    height: 43px;
}


.breadcrumb > li + li:before {
    content: "›";
}

.page-header {
    margin-top: 0;
}

.error-container {
    min-height: 300px;
}

.error-block p {
    background-color: #fdf7f7;
    border-color: #d9534f;
    /*margin: 20px 0;*/
    padding: 20px;
    border-right: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    border-left: 3px solid #d9534f;
}

.info-block-header {
    border-bottom: 1px solid #e8e1d5;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-style: solid;
    padding: 0px 0px 10px 10px;
    margin: 5px;
    font-weight: bold;
}


.info-block-divider {
    border-bottom: 1px solid #e8e1d5;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-style: solid;
    padding: 0px 0px 10px 10px;
    margin: 5px;
    line-height: 28px;
    /*margin-left: -15px;
    margin-right: -15px;*/
}

.info-block {
    background-color: #FEFAF3;
    border-color: #BBA058;
    margin: 10px 0;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-right: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    border-left: 3px solid #BBA058;
}

.info-block-right {
    background-color: #FEFAF3;
    border-color: #107A83;
    margin: 10px 2px;
    padding: 6px;
    border-left: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    border-right: 3px solid #107A83;
}


tbody.ui-sortable {
    cursor: all-scroll;
}

.indent {
    margin-left: 25px;
}

.list-group.row .list-group-item {
    -ms-border-radius: 4px;
    border-radius: 4px;
}

.nav-tabs {
    margin-bottom: 15px;
}

.no-style-list {
    list-style: none;
}

.select2-container {
    min-width: 200px;
    width: 100%;
}

.inactive {
    opacity: 0.1;
    filter: alpha(opacity=10);
    -webkit-transition: opacity 1s;
}

.auto-dim {
    opacity: 0.5;
    -webkit-transition: opacity 3s;
}

    .auto-dim:hover {
        opacity: 1;
        -webkit-transition: opacity .1s;
    }

.negative-number {
    color: #d44950;
}

.for-select2 {
    /*marker class*/
}

.for-timepicker {
    /*marker class*/
}

.progress {
    position: relative;
}

    .progress span {
        position: absolute;
        display: block;
        width: 100%;
        color: black;
    }

.shadow-raised {
    box-shadow: 10px 10px 15px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3) /*, 0 0 40px rgba(0, 0, 0, 0.1) inset*/;
    margin: 10px;
    padding: 25px;
    margin-bottom: 10px;
}

.widget.col-md-12 > .btn-enlarge {
    visibility: hidden;
    display: none;
}

.widget.col-md-4 > .btn-diminish {
    visibility: hidden;
    display: none;
}

.widget.refreshing {
    cursor: wait;
}

.btn-refresh.ladda-button[data-size=xs] {
    padding: 0 8px 1px;
    font-size: 13px;
}

.widget-content {
    position: relative;
}

.widget-progress-overlay {
    background-color: whitesmoke;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 50;
    -ms-opacity: 0.3;
    opacity: 0.5;
    cursor: wait;
}

.clear-padding {
    padding: 0;
}


.btn-toggle.active {
    background-color: #c4cdf8;
}


.report-actions-container {
}

.form-group-header {
    font-size: 110%;
}

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}

    .bs-callout h4 {
        margin-top: 0;
        margin-bottom: 20px;
    }

    .bs-callout dt {
        margin-bottom: 5px;
    }

    .bs-callout p:last-child {
        margin-bottom: 0;
    }

    .bs-callout code {
        border-radius: 3px;
    }

    .bs-callout + .bs-callout {
        margin-top: -5px;
    }

.bs-callout-danger {
    border-left-color: #d9534f;
}

    .bs-callout-danger h4 {
        color: #d9534f;
    }

.bs-callout-warning {
    border-left-color: #107A83;
}

    .bs-callout-warning h4 {
        color: #107A83;
    }

.bs-callout-info {
    border-left-color: #5bc0de;
}

    .bs-callout-info h4 {
        color: #5bc0de;
    }


.bs-callout-success {
    border-left-color: #69be28;
}

    .bs-callout-success h4 {
        color: #69be28;
    }

.home-tile {
    height: 220px;
    width: 285px;
    border: 1px solid #CCCCCC;
}

    .home-tile h4 {
        padding-top: 140px;
        padding-bottom: 15px;
    }

    .home-tile a.btn {
        margin: 0px 0px -1px -1px;
        border-radius: 0px;
        position: absolute;
        bottom: 1px;
    }

.horizontal-line {
    border-top: 1px solid #ccc;
}

footer {
    text-align: center;
}

.Highlight {
    color: #8A5400; /*  color:#8F0206;  background-color: #AAAAFF !important; */
}

.HighlightError {
    color: Red /*  color:#8F0206;  background-color: #AAAAFF !important; */;
}

.HighlightWarning {
    color: Yellow; /*  color:#8F0206;  background-color: #AAAAFF !important; */
}

.dt-button-collection.dropdown-menu {
    cursor: pointer;
}

.ColVis_collection {
    width: 190px !important;
}

    .ColVis_collection li {
        width: 180px;
    }

        .ColVis_collection li label {
            display: inline;
            word-wrap: break-word;
        }

            .ColVis_collection li label span {
                white-space: pre-wrap;
            }

.glyphicon-rotate,
.icon-rotate {
    -webkit-animation-name: rotateThis;
    -webkit-animation-duration: .5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

@-webkit-keyframes rotateThis {
    from {
        -webkit-transform: scale(1) rotate(0deg);
    }

    to {
        -webkit-transform: scale(1) rotate(360deg);
    }
}

.icon-long-running {
    display: inline-block;
    padding: 1px;
    font-size: 15px;
    margin-right: 5px;
    animation: rotateThis 2s infinite;
    transform: rotate(30deg);
}


label {
    padding: 3px 3px !important;
}

.label-bigger {
    padding: 0.4em .6em .4em;
    font-size: 12px;
}

div.tooltip-inner {
    max-width: 500px;
}


#divHeaderTitle {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.popover {
    z-index: 1060;
    max-width: 550px;
}

.dz-error-message {
    min-width: 500px !important;
    max-width: 1000px !important;
}

.ht_clone_top {
    display: none;
}

.dataTable td {
    max-width: 400px;
}

/*#divMergeBox {
    width: 800px;
    /*margin left is exactly half of the actual width set for the modal dialog
    margin-left: -400px;
}*/

.displayBlock {
    display: block;
}

.displayNone {
    display: none;
}

.modal-backdrop.fade.in {
    opacity: 0.3;
}


.labelWrap {
    display: inline-block;
    padding: 2px 4px;
    font-size: 11.844px;
    font-weight: bold;
    line-height: 14px;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    vertical-align: baseline;
    background-color: #999999;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

    .btn-file .glyphicon {
        color: #107A83
    }

    .btn-file:hover {
        color: #ffffff
    }

    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        -moz-min-width: 100%;
        -ms-min-width: 100%;
        -o-min-width: 100%;
        -webkit-min-width: 100%;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        -webkit-filter: alpha(opacity=0);
        -moz-filter: alpha(opacity=0);
        -o-filter: alpha(opacity=0);
        filter: alpha(opacity=0);
        -ms-opacity: 0;
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }

/* Styles for file progress */
ol.status-track {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

    ol.status-track li {
        display: inline-block;
        text-align: center;
        line-height: 3em;
        width: 16%;
        transition: 0.5s;
    }



        ol.status-track li.status-track-done {
            border-bottom: 3px solid #009FD6;
            cursor: pointer;
        }

        ol.status-track li.status-track-todo {
            color: silver;
            border-bottom: 3px solid silver;
        }

        ol.status-track li.status-track-bypass {
            cursor: pointer;
            border-bottom: 3px solid lightgray;
        }

        ol.status-track li.status-track-active {
            font-weight: bold;
            border-bottom: 3px solid #F4BD0C;
            -webkit-animation: progress-animation 0.5s linear alternate infinite;
        }

        ol.status-track li.status-active {
            font-weight: bold;
            /*-webkit-animation: progress-animation 0.5s linear alternate infinite;*/
        }

        ol.status-track li:after {
            content: "\00a0\00a0";
        }

        ol.status-track li:before {
            position: relative;
            bottom: -2.5em;
            float: left;
            left: 50%;
            line-height: 1em;
        }

        ol.status-track li.status-track-done:before {
            content: "\2713";
            color: white;
            background-color: #009FD6;
            height: 1.2em;
            width: 1.2em;
            line-height: 1.2em;
            border: none;
            border-radius: 1.2em;
            cursor: pointer;
        }

@-webkit-keyframes progress-animation {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.75;
    }

    100% {
        opacity: 0.20;
    }
}

ol.status-track li.status-track-todo:before {
    content: "\039F";
    color: silver;
    background-color: white;
    font-size: 1.5em;
    bottom: -1.6em;
}

ol.status-track li.status-track-active:before {
    content: "\0021";
    color: white;
    background-color: #F4BD0C;
    height: 1.2em;
    width: 1.2em;
    line-height: 1.2em;
    border: none;
    border-radius: 1.2em;
}

ol.status-track li.status-track-bypass:before {
    content: "\21B7";
    color: white;
    background-color: #e5e5e5;
    height: 1.3em;
    width: 1.3em;
    line-height: 1.3em;
    border: none;
    border-radius: 1.3em;
}
/* End of file status styles*/



/*table.table-bordered.dataTable tbody td {
    background: white;
}*/

/*Rules - help page */


.soften {
    color: #107A83 !important;
    background-color: #107A83 !important;
    border-top: 1px solid #107A83;
}

/*This is added for the Rule-Editor for auto suggest not getting hidden inside accordian*/
.panel-group .panel {
    overflow: visible !important;
}



/* Select 2 support for new font */
.select2-chosen, .select2-choice > span:first-child, .select2-container .select2-choices .select2-search-field input {
    padding: 9px 10px;
}

.select2-results .select2-highlighted {
    background-color: #107a83;
}

.select2-container-active .select2-choice,
.select2-container-multi.select2-container-active .select2-choices,
.select2-drop-active,
.select2-drop-auto-width,
.select2-drop.select2-drop-above.select2-drop-active {
    border-color: #107a83;
}


/*Bootstrap sub menu code*/
.marginBottom-0 {
    margin-bottom: 0;
}

.dropdown-menu li input[type='checkbox'] {
    vertical-align: text-bottom;
}
/*End of Date Picker css*/

#dzTestFile .panel-title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.scrolledTable {
    overflow-y: auto;
    clear: both;
}

.dataTables_wrapper div.dtFilter {
    padding-left: 0px;
}

.dataTables_scroll {
    clear: both;
}
/*Bootstrap Model*/

/* System Configuration Page*/
.control-group {
    margin-bottom: 10px;
}

button#btnSaveIrConfig {
    margin-left: 20px;
}

/*tr, td.border_bottom td {
    border-bottom: 1pt solid #DDDDDD !important;
}*/

.scheduler-header {
    background-color: #ebebeb !important;
    font-size: medium;
    padding-top: 10px;
}

.inner-bg {
    background-image: url("../Images/LoginBackground.jpg");
    background-position: center;
    background-size: 100% auto;
}


.notifications div.alert {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    /*border-left: 2px solid #107A83;*/ /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .05em;
    animation: typing .2s steps(50, end);
}

    .notifications div.alert a.close {
        margin: -3px;
        padding-left: 20px;
    }

/* The typing effect */
@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to {
        border-color: transparent;
    }

    50% {
        border-color: #dddddd;
    }
}


.live-search-highlight-rules.active {
    /*text-decoration: underline;*/
    background-color: #fdaf2a;
    color: white;
    /*font-weight: bold;*/
}

/*Report Setup*/

.as-btn-cc-padding {
    padding-left: 40px;
}

.modalInputWidth {
    height: 33px;
}

.badge-success[href],
.badge-success {
    background-color: #69be28;
    line-height: 1.5em;
}

[contenteditable="true"] {
    background-color: #f1f1f1 !important;
}

    [contenteditable="true"]:focus {
        background-color: white;
    }

[contenteditable=true]:before {
    content: "\270f";
    font-family: "Glyphicons Halflings";
    color: grey;
    opacity: 0.8;
    position: inherit;
    display: inline-block;
    overflow: hidden;
    float: right;
    display: block;
}

.pencil-watermark:before {
    content: "\270f";
    font-family: "Glyphicons Halflings";
    color: grey;
    opacity: 0.8;
    position: inherit;
    display: inline-block;
    overflow: hidden;
    float: right;
    display: block;
}

.userError:after {
    content: "\e101";
    font-family: "Glyphicons Halflings";
    color: red;
    position: inherit;
    display: inline-block;
    overflow: hidden;
    float: right;
    display: block;
    margin-right: 5px;
}

.pickDate {
    cursor: pointer;
}

    .pickDate:before {
        content: "\e109";
        font-family: "Glyphicons Halflings";
        color: grey;
        opacity: 0.8;
        position: inherit;
        display: inline-block;
        overflow: hidden;
        float: right;
        display: block;
    }

.userError {
    background-color: #ebcccc !important;
}

.userWarning {
    background-color: lightyellow !important;
}

.userSuccess {
    background-color: #dff0d8 !important;
}

.row_edited {
    font-weight: bolder !important;
}

.validation-summary-errors li {
    text-align: center;
    font-style: italic;
    color: maroon;
    list-style: none;
    /*margin: 20px 0;*/
    /*padding: 10px;*/
}

.DTFC_LeftBodyLiner {
    overflow-x: inherit !important;
    background-color: white;
    /*border-right: 2px solid #DDDDDD !important;*/
    /*overflow-y: visible !important;*/
}


.violationsWarnings {
    cursor: pointer;
    font-style: italic;
    font-size: 10px;
}

.text-danger {
    font-weight: normal;
    color: #E65032;
}

.text-warning {
    font-weight: normal;
    color: #F4BD0C;
}

.text-success {
    font-weight: normal;
    color: #43B02A;
}

.text-primary {
    font-weight: normal;
    color: #107A83;
}

.text-default {
    font-weight: normal;
    color: #999999;
}

.text-info {
    font-weight: normal;
    color: #35718e;
}


.text-divider {
    font-weight: lighter;
}

.text-edited {
    font-weight: 300;
    /*font-style: italic;*/
}


.tblTriggerInfo {
    overflow: visible;
    padding-left: 20px !important;
    font-style: italic;
}

/*[id^='dvNavTab-'] td.navGroupCollapseCtrl {
    font-weight: bolder;
    background: #e5e5e5 !important;
    cursor: pointer;
}*/

div.slider {
    display: none;
    padding: 0;
    /*float: left;*/
    /*position: fixed;*/
}

/* HEARBEAT */
.heartbeat {
    /*position: absolute;*/
    /*display: none;*/
    /*margin: 5px;*/
    color: darkred !important;
    /*font-size: 14px;
    right: 15px;
    top: 90px;*/
}

.collapse.in {
    height: auto !important;
}

.btn-status-style {
    border-radius: 15px;
    padding-left: 3px;
}


.btn-status-success {
    border-radius: 12px 12px 12px 0px;
    border: 1px solid #5cb85c;
    padding: 4px 8px 5px 2px;
    cursor: pointer;
    font-size: 12px;
    color: #5cb85c;
}

.btn-status-danger {
    border-radius: 12px 12px 12px 0px;
    border: 1px solid #d9534f;
    padding: 4px 8px 5px 2px;
    cursor: pointer;
    font-size: 12px;
    color: #d9534f;
}

.seeFullText {
    word-wrap: break-word;
    white-space: inherit !important;
}

.minWidth350 {
    min-width: 350px;
}

.minWidth150 {
    min-width: 150px;
}

.minWidth230 {
    min-width: 230px;
}

.minWidth250 {
    min-width: 250px;
}


.minHeight300 {
    min-height: 300px;
}

.toggle-off.btn-sm {
    padding-left: 14px !important;
    line-height: 22px !important;
    text-align: center;
}

.toggle-on.btn-sm {
    /*padding-right: 20px !important;*/
    line-height: 22px !important;
    text-align: center;
}


.toggle-off.btn-xs {
    line-height: 18px !important;
}

.toggle-on.btn-xs {
    line-height: 18px !important;
}
/*Toggle Button Oval Style */
.oval,
.toggle.oval,
.toggle.oval .toggle-handle {
    border-radius: 25px !important;
}

    .toggle.oval.btn {
        z-index: 1;
    }

    .oval .toggle-group .toggle-off {
        /*margin-left: 10px !important;*/
        line-height: 23px !important;
        padding-left: 10px !important;
        padding-right: 0px !important;
    }

        .oval .toggle-group .toggle-off i {
            padding-left: 0px !important;
        }

    .oval .toggle-group .toggle-on {
        /*margin-right: 10px !important;*/
        line-height: 23px !important;
        padding-left: 0px !important;
        padding-right: 10px !important;
    }

        .oval .toggle-group .toggle-on i {
            padding-left: 0px !important;
        }


/* End Toggle Button Oval Style */

/*Datatable Column Toggle CSS corrections*/
.dt-button.buttons-columnVisibility.active:before {
    content: "\e013";
    font-family: "Glyphicons Halflings";
    color: white;
    line-height: 1;
    margin: 5px;
    position: absolute;
    display: inline-block;
    overflow: hidden;
}

.dt-button.buttons-columnVisibility a {
    padding-left: 25px;
}
/*End Datatable Column Toggle CSS corrections*/


.tblFileSystemConfig {
    padding-top: 40px;
}


table.dataTable.condensed tbody td {
    line-height: 2 !important;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
}


ul[id^="ctxMenuUI_"] {
    font-size: 11px;
    border-radius: 2px;
}

.badge-warning {
    background-color: #F4BD0C !important;
}

.badge-danger {
    background-color: #e65032 !important;
}

.badge-primary {
    background-color: #107A83 !important;
}

.btn-checkbox-group .btn {
    margin-bottom: 5px;
    min-width: 110px;
}

.btn-radio-group .btn {
    margin-bottom: 10px;
    width: 90px;
}

.btn-checkbox-group .active,
.btn-radio-group .active {
    color: #ffffff;
}

    .btn-checkbox-group .active:before,
    .btn-radio-group .active:before {
        content: "\e013";
        font-family: "Glyphicons Halflings";
        color: #ffffff;
        line-height: 1;
        margin-left: 5px;
        /*margin-right: 5px;*/
        position: relative;
        display: inline-block;
        overflow: hidden;
    }

.user-notification {
    margin: -11px 0px 0px -24px;
    padding: 2px 5px 2px 4px;
    font-weight: bold;
    background-color: #43B02A;
    position: absolute;
}

.htDimmed {
    background: #eeeeee !important;
}


.htBlocked {
    /*background: #eeeeee !important;
    background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent) !important;
    background-size: 1rem 1rem !important;*/
}

    .htBlocked:before {
        content: "\e090";
        font-family: "Glyphicons Halflings";
        color: grey;
        opacity: 0.8;
        position: inherit;
        display: inline-block;
        overflow: hidden;
        float: right;
        display: block;
    }



.checklistProgressText {
    text-align: left;
    font-size: 11px;
    color: white !important;
    padding-left: 1px;
}

.live-search-highlight.active {
    /*text-decoration: underline;*/
    background-color: #fdaf2a;
    color: white;
    /*font-weight: bold;*/
}

div#summaryReportData {
    padding: 3px;
    width: 50%;
    word-break: break-all;
    word-wrap: break-word;
}

.fixed_footer {
    position: fixed;
    bottom: -20px;
    width: 98%;
}

.fixed_header_table {
    position: fixed;
    top: 0px;
    display: none;
    width: 98.6%;
    overflow: scroll;
}

.fixed_header {
    position: fixed;
    z-index: 1042;
    top: 0;
    width: 98%;
}

.table-allCenter tr,
.table-allCenter th {
    text-align: center;
}


.dashboard-carousel-indicators {
    /*position: absolute;*/
    /*bottom: 10px;
    left: 50%;*/
    z-index: 15;
    /*width: 60%;*/
    /*margin-left: -30%;*/
    padding-left: 0;
    list-style: none;
    text-align: center;
    background: #ffffff;
}

    .dashboard-carousel-indicators li {
        display: inline-block;
        width: 11px;
        height: 11px;
        margin: 1px;
        text-indent: -999px;
        border: 1px solid #107A83;
        border-radius: 10px;
        cursor: pointer;
        background-color: #000 \9;
        background-color: rgba(0, 0, 0, 0);
    }

        .dashboard-carousel-indicators li:not(.active):hover {
            width: 12px;
            height: 12px;
        }

    .dashboard-carousel-indicators .active {
        margin: 0;
        width: 14px;
        height: 14px;
        background-color: #107A83;
    }



@media screen and (min-width: 768px) {
    .dashboard-carousel-indicators {
        bottom: 20px;
    }
}

.blankLine {
    background: #E7E7E7 !important;
    padding: 3px !important;
}

.tdHeading {
    cursor: pointer;
}


/*#calenderDatePicker .datepicker-days td.active{
    border: 1px solid red;
}*/


.parseErrorDetails {
    cursor: pointer;
    padding: .2em .6em .3em !important;
}

.cklist-tile {
    padding: 10px;
    border-radius: 0px;
    border-color: #D6D4D4;
    opacity: 0.8;
    /*border-radius: 2px;*/
}

    .cklist-tile:hover {
        opacity: 1;
    }

.pull-bottom {
    /*display: inline-block;
    vertical-align: bottom;
    float: none;*/
    position: absolute;
    bottom: 34px;
    /* left:0; */ background: lightgray;
    width: 90%;
}

.hmo-recurringEvents,
.hmo-RangeOfRecurrence,
.hmo-Recepients,
.hmo-ReportSettings,
.hmo-AdvanceSettings-plus,
.hmo-AdvanceSettings-minus {
    /*margin-right: 0;
    margin-left: 0;*/
    background-color: #fff;
    border-color: #ddd;
    /*border-width: 1px;*/
    border-radius: 4px 4px 0 0;
    position: relative;
    padding: 15px 15px 0px;
    margin: 15px -15px 15px;
    border-color: #e5e5e5 #eee #eee;
    border-style: solid;
    border-width: 1px 0 0 0;
    /*-webkit-box-shadow: inset 0 3px 6px rgba(0,0,0,.05);*/
    /*box-shadow: inset 0 3px 6px rgba(0,0,0,.05);*/
}

    .hmo-recurringEvents:after,
    .hmo-RangeOfRecurrence:after,
    .hmo-Recepients:after,
    .hmo-ReportSettings:after,
    .hmo-AdvanceSettings-plus:after,
    .hmo-AdvanceSettings-minus:after {
        position: absolute;
        top: -13px;
        left: 15px;
        font-size: 13px;
        padding: 3px;
        font-weight: normal;
        color: #959595;
        /*text-transform: uppercase;*/
        letter-spacing: 1px;
        background-color: white;
    }

    .hmo-recurringEvents:after {
        content: " Frequency of Recurrence ";
    }

    .hmo-RangeOfRecurrence:after {
        content: " Range of Recurrence ";
    }

    .hmo-Recepients:after {
        content: " Recepients ";
    }

    .hmo-ReportSettings:after {
        content: " Report Settings ";
    }

    .hmo-AdvanceSettings-plus:after {
        content: "\2295  Advance Settings ";
    }

    .hmo-AdvanceSettings-minus:after {
        content: "\2296  Advance Settings ";
    }


.header-right .dataTables_filter {
    padding-top: 7px;
}



div.DTCR_pointer {
    background-color: #107A83 !important;
}

.table-focus-excel {
    outline: 2px solid #107A83;
    outline-offset: -1px;
}

.gridCollapsed {
    font-size: 11px;
    font-style: italic;
    /*background-color: #d9edf7 !important;*/
}

.panel-template > .panel-heading {
    border-top: 3px solid #3c763d;
}

.tierAtLoad {
    position: absolute;
    top: 100px;
    right: 150px;
}

.font-normal {
    font-weight: normal !important;
}

.ng-show-hide.ng-hide-add {
    -webkit-animation: 0.5s hide;
    animation: 0.5s hide;
}

.ng-show-hide.ng-hide-remove {
    -webkit-animation: 0.3s show;
    animation: 0.3s show;
}

.ng-show-only.ng-hide-remove {
    -webkit-animation: 0.3s show;
    animation: 0.3s show;
}


.ng-show-slidedown {
    -webkit-transition: top 3000ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
    -moz-transition: top 3000ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
    -ms-transition: top 3000ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
    -o-transition: top 3000ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
    transition: top 3000ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
    -webkit-font-smoothing: antialiased;
}

.swap-animation.ng-enter, .swap-animation.ng-leave {
    transition: 0.5s linear all;
}

.swap-animation.ng-enter {
    top: -250px;
}

.swap-animation.ng-enter-active {
    top: 0px;
}

.swap-animation.ng-leave {
    top: 0px;
}

.swap-animation.ng-leave-active {
    top: 250px;
}

.number-counter {
    /*width:50px;*/
    /*display: table-cell;*/
    /*display: table-cell;*/
    /*margin:1.5%;
    font-size:50px;*/
    /*background-color: #FF6F6F;*/
    /*width:200px;
    border-radius: 50%;
    height:200px;
    vertical-align: middle;*/
}

.footer {
    position: fixed;
    padding-top: 10px;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: #f5f5f5;
}

[id^='tblWireStatusDetails'] tbody td {
    opacity: 0;
    padding-top: 50px;
}

[id^='tblWireStatusDetails'] table.dataTable thead th {
    overflow: hidden;
    white-space: normal;
    vertical-align: top;
    text-overflow: ellipsis;
}

[id^='tblWireStatusDetails'] table.dataTable tbody td {
    padding: 5px 5px 5px 5px;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
}

#modalToRetrieveWires .modal-body div.panel-heading {
    font-size: 14px;
    /*padding: 8px 15px;*/
    border-top: 2px solid #107A83;
}

#modalToRetrieveWires .modal-body label {
    font-weight: normal;
}

#modalToRetrieveWires .form-control {
    font-size: inherit !important;
}

#modalToRetrieveWires .panel-heading {
    cursor: pointer;
}

#modalToRetrieveWires input.form-control,
#modalToRetrieveWires span[type='text'] {
    height: 26px;
    border-color: #a6a6a6;
    padding: 5px 15px 5px 15px;
}

#modalToRetrieveWires textarea {
    border-color: #a6a6a6;
}

#modalToRetrieveWires .primary-info {
    height: 30px !important;
    margin: 5px 0px 0px 0px
}

#modalToRetrieveWires .select2-container-disabled .select2-choice {
    border: 1px solid #a6a6a6;
    color: #262626;
    background-color: #d9d9d9;
}

#modalToRetrieveWires p {
    margin: 0px 0px 2px 0px;
}

#modalToRetrieveWires legend {
    margin: 0px;
}

#modalToRetrieveWires [data-toggle='collapse'] {
    position: -webkit-sticky;
    position: sticky;
    top: 40px;
    z-index: 1;
}

#ModalToRetieveSystemTaskLog .modal-footer,
#modalToRetrieveWires .modal-footer {
    padding: 8px 15px 8px 15px;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    background: #F5F5F5;
    border-top: 1px solid lightgray;
    z-index: 2;
}


#modalToRetrieveWires ol.status-track li.status-track-done {
    border-bottom: 2px solid #009FD6;
    cursor: pointer;
}

#modalToRetrieveWires ol.status-track li.status-track-todo {
    color: silver;
    border-bottom: 2px solid silver;
}

#modalToRetrieveWires ol.status-track li.status-track-failed {
    color: #E65032;
    border-bottom: 2px solid #E65032;
}

#modalToRetrieveWires ol.status-track li.status-track-active {
    font-weight: bold;
    border-bottom: 2px solid #F4BD0C;
    -webkit-animation: progress-animation 0.5s linear alternate infinite;
}

.paddingleft {
    padding-left: 20px;
}

#accountOnBoardContainer .input-group[class*="col-"],
#contactOnBoardContainer .input-group[class*="col-"],
#contactListDiv .input-group[class*="col-"] {
    float: none;
    padding-right: 0;
    padding-left: 15px;
}

#accountOnBoardContainer .AdjustDropDownWidth .select2-container,
#ssiTemplateOnBoardContainer .AdjustDropDownWidth .select2-container,
#contactListDiv .AdjustDropDownWidth .select2-container,
#contactOnBoardContainer .AdjustDropDownWidth .select2-container {
    width: 100% !important;
}

#ssiTemplateDetailDiv legend.small,
#ssiTemplateDetailDiv span.small,
#accountModal legend.small {
    font-size: 13px;
    padding-top: 10px;
    padding-bottom: 5px;
}

/*[data-toggle='collapse'] {
    position: -webkit-sticky;
    position: sticky;
    top: 40px;
    z-index: 1;
}*/

.modal-footer {
    /*padding: 8px 20px 8px 20px;*/
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    background: #F5F5F5;
    border-top: 1px solid lightgray;
    z-index: 2;
}

.swiftMessgeBlock {
    white-space: pre-wrap;
    padding-left: 15px;
    border-left: 3px solid #107A83 !important;
    border: 1px solid lightgray;
    background-color: #f6f6f6;
}

.messgeBlock {
    /*white-space: pre-wrap;*/
    padding: 5px 15px 5px 15px;
    border-left: 3px solid #107A83 !important;
    /*border: 1px solid lightgray;*/
    margin: 0px !important;
    background-color: #f6f6f6;
}


.atlwdg-trigger.atlwdg-RIGHT {
    left: 100%;
    top: 85%;
}

.atlwdg-trigger {
    background: #107A83;
}

.profileImage {
    cursor: pointer;
    border-radius: 50%;
    /*border: 1px solid #107A83;*/
    width: 90%;
}

.dropzone {
    padding: 5px 15px;
    min-height: 90px;
}

.no-padding {
    padding: 0px !important;
}


#hmStatus {
    padding-top: 8px;
    padding-bottom: 8px;
    margin-right: 2%;
    font-size: 12px;
}

#accountModal.modal.in {
    overflow: scroll;
}



.dtsp-name {
    cursor: pointer
}

div[class^="dtsp-subRow"] {
    width: -webkit-fill-available;
}

.dtsp-search {
    font-size: small !important;
    background-color: #efefef !important;
    border-radius: 6px !important;
}

.dtsp-clearAll {
    -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.55);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.55);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,background-color ease-in-out .15s,color ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,background-color ease-in-out .15s,color ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,background-color ease-in-out .15s,color ease-in-out .15s;
    text-transform: capitalize;
    padding: 7px !important;
    border: inherit;
    border-radius: 4px !important;
}


.dtsp-paneInputButton::-webkit-input-placeholder {
    font-size: 12px !important;
}




.schedule-email-box-highlighted {
    background: #e8f4e8;
    min-height: 50px;
    height: inherit;
    padding: 4px;
    overflow: hidden;
    font-size: 11px;
    font-style: italic;
}

.schedule-email-box {
    background: inherit !important;
    min-height: 60px;
    height: inherit;
    padding: 5px 8px 5px 8px;
    overflow: hidden;
}

.spn-auto-email-choice {
    border-radius: 2px;
    border: 1px solid #abaaaa;
    padding: 0px 3px 0px 5px;
    margin: 2px;
    /* float: left; */
    font-weight: bold;
    display: inline-block;
}

.spn-auto-email-choice-highlight {
    border-radius: 2px;
    border: 1px solid #43B02A;
    background: #c9e9ca;
    padding: 0px 3px 0px 5px;
    margin: 2px;
    /* float: left; */
    font-weight: bold;
    display: inline-block;
}


.spn-auto-email-choice-close {
    display: inline-block;
    width: 15px;
    height: 11px;
    margin-top: 0px;
    /* position: relative; */
    /* top: 49px; */
    /* font-size: 1px; */
    /* outline: none; */
    background: url(select2.png) right top no-repeat;
    cursor: pointer;
}

.spn-auto-email-warning {
    box-shadow: 0px 0px 0px 0px #8a6d3b, 0 0px 5px yellow;
}

.spn-auto-email-error {
    box-shadow: 0px 0px 0px 0px #8a6d3b, 0 0px 5px red;
}

.required:after {
    content: "*";
    color: #d53f1e;
}

.animateLastColumn tr td:last-child span {
    color: #D7D7D7;
}

.animateLastColumn tr:hover td:last-child span {
    color: black;
    -webkit-animation: 0.3s show;
    animation: 0.3s show;
}