<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an attribute "name" that has a value of "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <connectionStrings>
    <!---LOCAL DB-->

    <add name="AdminContext" connectionString="metadata=res://*/AdminModel.csdl|res://*/AdminModel.ssdl|res://*/AdminModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=W00001N00\MSDMUT05;initial catalog=HM;persist security info=True;user id=DMAHMUserDEV;password=scG_8&amp;m;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="OperationsContext" connectionString="metadata=res://*/OperationsContext.csdl|res://*/OperationsContext.ssdl|res://*/OperationsContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=W00001N00\MSDMUT06;initial catalog=DMA_HM;persist security info=True;user id=DMAHMUserDEV;password=jM9jsEzf;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="OperationsSecureContext" connectionString="metadata=res://*/OperationsSecureModel.csdl|res://*/OperationsSecureModel.ssdl|res://*/OperationsSecureModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=W00001N00\MSDMUT06;initial catalog=HM_WIRES;persist security info=True;user id=HMWIRESDEV;password=5$#2wires@1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>

    <!---TEST DB-->
    <!--<add name="AdminContext" connectionString="metadata=res://*/AdminModel.csdl|res://*/AdminModel.ssdl|res://*/AdminModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=W0001ZN01\MSDMUQ05;initial catalog=HM;persist security info=True;user id=DMAHMUserQA;password=Dd|2!hH8;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="OperationsContext" connectionString="metadata=res://*/OperationsContext.csdl|res://*/OperationsContext.ssdl|res://*/OperationsContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=W0001ZN01\MSDMUQ04;initial catalog=DMA_HM;persist security info=True;user id=DMAHMUserQA;password=Dd|2!hd2;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="OperationsSecureContext" connectionString="metadata=res://*/OperationsSecureModel.csdl|res://*/OperationsSecureModel.ssdl|res://*/OperationsSecureModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=W0001ZN01\MSDMUQ04;initial catalog=HM_WIRES;persist security info=True;user id=HMWIRESQA;password=Dh@wires123;MultipleActiveResultSets=True;App=EntityFramework;Column Encryption Setting=Enabled&quot;"   providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>-->

    <!---QA DB-->
    <!--<add name="AdminContext" connectionString="metadata=res://*/Models.AdminModel.csdl|res://*/Models.AdminModel.ssdl|res://*/Models.AdminModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WSOMQCLDMUSQL01\MSDMUQ06;initial catalog=HM;persist security info=True;user id=DMAHMUserUAT;password=6z8NwXX3;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="OperationsContext" connectionString="metadata=res://*/Models.OperationsModel.csdl|res://*/Models.OperationsModel.ssdl|res://*/Models.OperationsModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WSOMQCLDMUSQL01\MSDMUQ06;initial catalog=DMA_HM;persist security info=True;user id=DMAHMUserUAT;password=6z8NwXX3;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>-->

  </connectionStrings>
  <appSettings>
    <!--<add key="LocalSiteMinderCommitId" value="xbbnnsw" xdt:Transform="Insert"/>-->
    <add key="LocalSiteMinderCommitId" value="aabc132" xdt:Transform="Insert"/>
    <add key="ShouldRedirectHttpRequest" value="false"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="OnBoardingSubDomainPath" value=""/>

	
    <!---->
    <!--<add key="OpsSecureRootDirectory" value="\\svm1som30l01\hm-web03-qa\HMOperationsSecure\" xdt:Transform="Insert"/>-->
    <!---->

  </appSettings>
  <system.web>
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>
